<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>
<?php $_order = $block->getOrder() ?>
<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Order Information')) ?></strong>
    </div>
    <div class="block-content">
        <?php if (!$_order->getIsVirtual()) : ?>
            <div class="box box-order-shipping-address">
                <strong class="box-title"><span><?= $block->escapeHtml(__('Shipping Address')) ?></span></strong>
                <div class="box-content">
                    <address><?= /* @noEscape */ $block->getFormattedAddress($_order->getShippingAddress()) ?></address>
                </div>
            </div>

            <div class="box box-order-shipping-method">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Shipping Method')) ?></span>
                </strong>
                <div class="box-content">
                <?php if ($_order->getShippingDescription()) : ?>
                    <?= $block->escapeHtml($_order->getShippingDescription()) ?>
                <?php else : ?>
                    <?= $block->escapeHtml(__('No shipping information available')) ?>
                <?php endif; ?>
                </div>
                <?php 
                    $currentStatus = $_order->getStatus();
                    $status_pending = 'pending';
                    $status_processing = 'processing';
                    $status_payed = 'payed';
                    $status_pagamento_aprovado = 'pagamento_aprovado';
                    $status_aguardando_pagamento = 'aguardando_pagamento';
                    $status_nfe = 'nota_fiscal_emitida';
                    $status_transport = 'em_transporte';
                    $status_complete = 'pedido_entregue';
                ?>
                <div class="tracking">
                    <ul>
                        <li class="status <?php if($currentStatus == $status_pending || $currentStatus ==  $status_aguardando_pagamento || $currentStatus ==  $status_processing || $currentStatus == $status_payed || $currentStatus == $status_pagamento_aprovado  || $currentStatus == $status_nfe  || $currentStatus == $status_transport || $currentStatus == $status_complete): echo 'active'; endif; ?>">Pedido Recebido</li>
                        <li class="status <?php if($currentStatus == $status_aguardando_pagamento || $currentStatus == $status_payed || $currentStatus == $status_pagamento_aprovado || $currentStatus == $status_nfe  || $currentStatus == $status_transport || $currentStatus == $status_complete): echo 'active'; endif; ?>">Aguardando Pagamento</li>
                        <li class="status <?php if($currentStatus == $status_payed || $currentStatus == $status_pagamento_aprovado || $currentStatus == $status_nfe  || $currentStatus == $status_transport || $currentStatus == $status_complete): echo 'active'; endif; ?> ">Pagamento Aprovado</li>
                        <li class="status <?php if($currentStatus == $status_nfe || $currentStatus == $status_transport || $currentStatus == $status_complete): echo 'active'; endif; ?> ">Nota Fiscal emitida</li>
                        <li class="status <?php if($currentStatus == $status_transport || $currentStatus == $status_complete): echo 'active'; endif; ?> ">Em transporte</li>
                        <li class="status <?php if($currentStatus == $status_complete): echo 'active'; endif; ?> ">Pedido Entregue</li>
                    </ul>
                </div>
            </div>
        <?php endif; ?>

        <div class="box box-order-billing-address">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Billing Address')) ?></span>
            </strong>
            <div class="box-content">
                <address><?= /* @noEscape */ $block->getFormattedAddress($_order->getBillingAddress()) ?></address>
            </div>
        </div>
        <div class="box box-order-billing-method">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Payment Method')) ?></span>
            </strong>
            <div class="box-content">
                <?= $block->getPaymentInfoHtml() ?>
                <?php
                    $_order = $block->getOrder();
                    $urlBoleto = $_order->getUrlBoleto();
                    $urlDanfe = $_order->getUrlDanfe();
                    $urlTracking = $_order->getUrlTracking();
                    $status_boleto_vencido = 'boleto_vencido';
                ?>
                <?php $currentStatus = $_order->getStatus(); if($urlBoleto && ($status_boleto_vencido != $currentStatus)): ?>
                    <p>
                        <a target="_blank" href="<?php echo $urlBoleto ?>">Imprimir boleto bancário</a>
                    </p>
                <?php endif; ?>

                <?php if($urlDanfe): ?>
                    <p>
                        <a target="_blank" href="<?php echo $urlDanfe ?>">Visualizar nota fiscal</a>
                    </p>
                <?php endif; ?>

                <?php if($urlTracking): ?>
                    <p>
                        <a target="_blank" href="<?php echo $urlTracking ?>">Visualizar rastreio</a>
                    </p>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>
