<div class="blocks-promo"><a class="block-promo home-main" href="{{store url=""}}collections/yoga-new.html"> <img src="{{media url="Grupo_1356.png"}}" alt=""> </a></div>
<div class="blocks-promo-bottom">
    <div class="bottom-banner1">
        <div class="bottom-banner1-img">
            <img src="{{media url="bottombanner1.png"}}" alt="">
        </div>
        <div class="bottom-banner1-text">
            <span class="destaque">10%</span><span>off</span>
            <span>Na primeira compra</span>
            <span>cupom: </span><span class="rosa">putzquedesconto</span>
        </div>
    </div>
    <div class="bottom-banner2">
        <div class="bottom-banner2-img">
            <img src="{{media url="bottombanner2.png"}}" alt="">
        </div>
        <div class="bottom-banner2-text">
            <span class="destaque">Frete</span><span>Gratis</span>
            <span>Nas compras acima</span>
            <span>de </span><strong>100,00 reais</strong>
        </div>
    </div>
    <div class="bottom-banner3">
        <div class="bottom-banner3-img">
            <img src="{{media url="bottombanner3.png"}}" alt="">
        </div>
        <div class="bottom-banner3-text">
            <span class="destaque">10x</span><span>s/ juros</span>
            <span>Em qualquer bandeira</span>
            <span>de cartão de crédito</span>
        </div>
    </div>
<p><img src="{{media url="bottom-banner.png"}}" alt=""></p>
</div>
<div class="banners-marcas">
<div class="banner-marca"><img src="{{media url="Ateli_Fontenello.png"}}" alt=""> <img src="{{media url="Grupo_12633.png"}}" alt=""></div>
<div class="banner-marca"><img src="{{media url="Glam_Brasil.png"}}" alt=""> <img src="{{media url="Grupo_12632.png"}}" alt=""></div>
<div class="banner-marca"><img src="{{media url="Putz_que_legal.png"}}" alt=""> <img src="{{media url="Grupo_1263.png"}}" alt=""></div>
<div class="banner-marca"><img src="{{media url="Mais_Mais_Fios.png"}}" alt=""> <img src="{{media url="Grupo_12634.png"}}" alt=""></div>
</div>
<div class="content-heading home-popular">
<p class="info">Itens mais populares</p>
<h2 class="title">Produtos mais procurados</h2>
</div>
<a href=""></a>
<p>{{widget type="Magento\CatalogWidget\Block\Product\ProductsList" products_per_page="3" products_count="30" template="product/widget/content/grid.phtml" conditions_encoded="^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^],`1--1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`sku`,`operator`:`()`,`value`:`WS12, WT09, MT07, MH07, 24-MB02, 24-WB04, 241-MB08, 240-LV05`^]^]"}}</p>