<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block Magento\Catalog\Block\Product\View */
?>
<?php
$required = '';
if ($block->hasRequiredOptions()) {
    $required = ' data-hasrequired="' . $block->escapeHtmlAttr(__('* Required Fields')) . '"';
}
?>
<div class="product-options-wrapper" id="product-options-wrapper"<?= /* @noEscape */ $required ?>>
    <div class="fieldset" tabindex="0">
        <?= $block->getChildHtml('', true) ?>
    </div>
</div>
<?php 
    $modeloProdutoId = (int)$block->getProduct()->getModeloProduto(); 
    if($modeloProdutoId): ?>
        <?php
            $attribute = $block->getProduct()->getResource()->getAttribute('modelo_produto');
            $modeloProduto = '';
            if ($attribute->usesSource()) {
                $modeloProduto = $attribute->getSource()->getOptionText($modeloProdutoId);
            }
        ?>
        <script type="text/javascript">
            let defaultPrice = false
            <?php if($modeloProduto == 'Persiana'):?>
                require(['jquery'], function ($) 
                {
                    $(document).ready(function(){
                        let finalPrice = '<?php echo $block->getProduct()->getPrice(); ?>'
        
                        let idLargura = '#options_12_text'
                        let idAltura = '#options_13_text'

                        finalPrice = parseFloat(finalPrice)
                        let currentInputSelectPrice = 0
                        let currentLarguraAlturaPrice = finalPrice //determinando o preço do metro quadrado padrão
                        setDefaultPrice()
                        
                        //let largura = altura = 1
                        $('#smartcatalogoption_finalprice').val(finalPrice)
                        $('.product-custom-option.checkbox').on('click', function(){
                            let inputPrice = parseInt($(this).attr('price'))
                            if(inputPrice){
                                if($(this).prop("checked") == true){
                                    finalPrice = finalPrice + inputPrice
                                } else{
                                    finalPrice = finalPrice - inputPrice
                                }
                            }
                            $('#smartcatalogoption_finalprice').val(finalPrice)
                            jQuery('span.price-final_price > span.price-wrapper > span.price').text('R$ '+finalPrice.toFixed(2));
                        });
                        $('select.product-custom-option').on('change', function(){
                            let inputSelectPrice = parseInt($('option:selected', this).attr('price'))
                            finalPrice = finalPrice + (inputSelectPrice - currentInputSelectPrice)
                            $('#smartcatalogoption_finalprice').val(finalPrice)
                            currentInputSelectPrice = inputSelectPrice
                            jQuery('span.price-final_price > span.price-wrapper > span.price').text('R$ '+finalPrice.toFixed(2));
                        });
                        $(idLargura).on('change', function(){ 
                            largura = this.value;
                            altura = $(idAltura).val()
                            calcNewPrice(largura, altura)
    
                        });
                        $(idAltura).on('change', function(){  
                            largura = $(idLargura).val()
                            altura = this.value;
                            calcNewPrice(largura, altura)
                            
                        });
                        function setDefaultPrice(){
                            if(defaultPrice == false){
                                let defaultLargura = '<?php echo $block->getProduct()->getDefaultLargura(); ?>'
                                let defaultAltura = '<?php echo $block->getProduct()->getDefaultAltura(); ?>'
                                defaultLargura = parseFloat(defaultLargura)
                                defaultAltura = parseFloat(defaultAltura)
                                setTimeout(function(){ calcNewPrice(defaultLargura, defaultAltura); }, 7000);
                            }
                        }
                        function calcNewPrice(largura, altura){
                            defaultPrice = true
                            if(largura && altura){
                                let basePrice = '<?php echo $block->getProduct()->getPrice(); ?>'
                                basePrice = parseInt(basePrice)
                                let mQuad =  largura * altura
                                let larguraAlturaPrice = basePrice * mQuad
                                if(finalPrice > 0){
                                    finalPrice = finalPrice + (larguraAlturaPrice - currentLarguraAlturaPrice)
                                }
                                currentLarguraAlturaPrice = larguraAlturaPrice
                                $('#smartcatalogoption_finalprice').val(finalPrice)
                                jQuery('span.price-final_price > span.price-wrapper > span.price').text('R$ '+finalPrice.toFixed(2));   
                            }
                        }
                    });

                });
            <?php elseif($modeloProduto == 'Trilho Suísso'):?>
                require(['jquery'], function ($) {
                    $(document).ready(function(){
                        let idLargura = '#options_7_text'
                        let idAltura = '#options_8_text'
                        let idTrilhosuisso = '#options_6_2'

                        let finalPrice = '<?php echo $block->getProduct()->getPrice(); ?>'
                        finalPrice = parseFloat(finalPrice)
                        let currentInputSelectPrice = 0
                        
                        let maoDeObraPrice = '<?php echo $block->getProduct()->getMaodeobra(); ?>'
                        maoDeObraPrice = parseFloat(maoDeObraPrice)
                        
                        let trilhoSuissoPrice = '<?php echo $block->getProduct()->getTrilhosuisso(); ?>'
                        trilhoSuissoPrice = parseFloat(trilhoSuissoPrice)
                        
                        let currentTrilhoSuissoPrice = 0
                        let currentMaoDeObraTotalPrice = 0
                        let currentLarguraAlturaPrice = 0 //determinando o preço do metro quadrado padrão
                        $('#smartcatalogoption_finalprice').val(finalPrice)
                        console.log(defaultPrice)
                        setDefaultPrice()
                        $(idTrilhosuisso).change(function(){ 
                            calcTrilhoSuisso()
                        });

                        $(idLargura).on('change', function(){ 
                            largura = parseFloat(this.value.replace(',','.').replace(' ',''))
                            altura = $(idAltura).val()
                            $(idLargura).val(largura)
                            calcNewPrice(largura, altura)
                            $('#smartcatalogoption_finalprice').val(finalPrice)
                            jQuery('span.price-final_price > span.price-wrapper > span.price').text('R$ '+finalPrice.toFixed(2));
                        });
                        $(idAltura).on('change', function(){  
                            largura = $(idLargura).val()
                            altura = parseFloat(this.value.replace(',','.').replace(' ',''))
                            $(idAltura).val(altura)
                            calcNewPrice(largura, altura)
                            $('#smartcatalogoption_finalprice').val(finalPrice)
                            jQuery('span.price-final_price > span.price-wrapper > span.price').text('R$ '+finalPrice.toFixed(2));
                        });    
                        function setDefaultPrice(){
                            if(defaultPrice == false){
                                let defaultLargura = '<?php echo $block->getProduct()->getDefaultLargura(); ?>'
                                let defaultAltura = '<?php echo $block->getProduct()->getDefaultAltura(); ?>'
                                defaultLargura = parseFloat(defaultLargura)
                                defaultAltura = parseFloat(defaultAltura)
                                setTimeout(function(){ calcNewPrice(defaultLargura, defaultAltura); }, 7000);
                            }
                        }            
                        function calcTrilhoSuisso(){
                            if($(idLargura).val()){
                                largura = $(idLargura).val()
                            } else {
                                largura = 1
                            }

                            if($(idAltura).val()){
                                altura = $(idAltura).val()
                            } else {
                                altura = 1
                            }

                            calcNewPrice(largura, altura)
                        }
                        function calcNewPrice(largura, altura){
                            defaultPrice = true
                            if(largura > 0 && altura > 0){
                                finalPrice = 0
                                let basePrice = '<?php echo $block->getProduct()->getPrice(); ?>' //pegando o preço base do produto
                                let maoDeObraPrice = '<?php echo $block->getProduct()->getMaodeobra(); ?>' //pegando o preço da mão de obra
                                let trilhoSuissoPrice = '<?php echo $block->getProduct()->getTrilhosuisso(); ?>' //pegando o preço do trilho suisso
                                basePrice = parseFloat(basePrice)
                                maoDeObraPrice = parseFloat(maoDeObraPrice)
                                trilhoSuissoPrice = parseFloat(trilhoSuissoPrice)
                                //150*((2*3)*1)+(30*(2*3)
                                trilhoSuissoTotalPrice = trilhoSuissoPrice * largura //calculo do preço do trilho em base da largura 
                                finalPrice =  basePrice*((largura*3)*altura)+(maoDeObraPrice*(largura*3))+trilhoSuissoTotalPrice
                                //finalPrice =  144((3*3)*2.5)+(30*(3*3))+3*20
                            }
                            if(finalPrice > 0){
                                $('#smartcatalogoption_finalprice').val(finalPrice)
                                $('.product-info-price .price-container span.price').text('R$ '+finalPrice.toFixed(2));
                            }
                        }
                    });
                });


            <?php elseif($modeloProduto == 'Trilho Wave'):?>
                require(['jquery'], function ($) {
                    $(document).ready(function(){
                        let idLargura = '#options_10_text'
                        let idAltura = '#options_11_text'
                        let idTrilhowave = '#options_9_2'

                        let finalPrice = '<?php echo $block->getProduct()->getPrice(); ?>'
                        finalPrice = parseFloat(finalPrice)
                        let currentInputSelectPrice = 0
                        
                        let maoDeObraPrice = '<?php echo $block->getProduct()->getMaodeobra(); ?>'
                        maoDeObraPrice = parseFloat(maoDeObraPrice)
                        
                        let trilhowavePrice = '<?php echo $block->getProduct()->getTrilhowave(); ?>'
                        trilhowavePrice = parseFloat(trilhowavePrice)
                        
                        let currentTrilhowavePrice = 0
                        let currentMaoDeObraTotalPrice = 0
                        let currentLarguraAlturaPrice = 0 //determinando o preço do metro quadrado padrão
                        $('#smartcatalogoption_finalprice').val(finalPrice)

                        setDefaultPrice()

                        $(idTrilhowave).change(function(){ 
                            calcTrilhowave()
                        });
                        $(idLargura).on('change', function(){ 
                            largura = this.value;
                            altura = $(idAltura).val()
                            calcNewPrice(largura, altura)
                            $('#smartcatalogoption_finalprice').val(finalPrice)
                            jQuery('span.price-final_price > span.price-wrapper > span.price').text('R$ '+finalPrice.toFixed(2));
                        });
                        $(idAltura).on('change', function(){  
                            largura = $(idLargura).val()
                            altura = this.value;
                            calcNewPrice(largura, altura)
                            $('#smartcatalogoption_finalprice').val(finalPrice)
                            jQuery('span.price-final_price > span.price-wrapper > span.price').text('R$ '+finalPrice.toFixed(2));
                        });
                        function setDefaultPrice(){
                            if(defaultPrice == false){
                                let defaultLargura = '<?php echo $block->getProduct()->getDefaultLargura(); ?>'
                                let defaultAltura = '<?php echo $block->getProduct()->getDefaultAltura(); ?>'
                                defaultLargura = parseFloat(defaultLargura)
                                defaultAltura = parseFloat(defaultAltura)
                                setTimeout(function(){ calcNewPrice(defaultLargura, defaultAltura); }, 7000);
                            }
                        }  
                        function calcTrilhowave(){
                            if($(idLargura).val()){
                                largura = $(idLargura).val()
                            } else {
                                largura = 1
                            }

                            if($(idAltura).val()){
                                altura = $(idAltura).val()
                            } else {
                                altura = 1
                            }

                            calcNewPrice(largura, altura)
                        }

                        function calcNewPrice(largura, altura){
                            defaultPrice = true
                            if(largura > 0 && altura > 0){
                                finalPrice = 0
                                let basePrice = '<?php echo $block->getProduct()->getPrice(); ?>' //pegando o preço base do produto
                                let maoDeObraPrice = '<?php echo $block->getProduct()->getMaodeobra(); ?>' //pegando o preço da mão de obra
                                let trilhowavePrice = '<?php echo $block->getProduct()->getTrilhowave(); ?>' //pegando o preço do trilho wave
                                basePrice = parseFloat(basePrice)
                                maoDeObraPrice = parseFloat(maoDeObraPrice)
                                trilhowavePrice = parseFloat(trilhowavePrice)
                                //150*((2*3)*1)+(30*(2*3)
                                let trilhowaveTotalPrice = 0
                                /*if($(idTrilhowave).prop("checked") == true){
                                } else{
                                    trilhowaveTotalPrice = 0 //calculo do preço do trilho em base da largura 
                                }*/
                                trilhowaveTotalPrice = trilhowavePrice * largura //calculo do preço do trilho em base da largura 
                                finalPrice =  basePrice*((largura*3)*altura)+(maoDeObraPrice*(largura*3))+trilhowaveTotalPrice
                            }
                            if(finalPrice > 0){
                                $('#smartcatalogoption_finalprice').val(finalPrice)
                                $('.product-info-price .price-container span.price').text('R$ '+finalPrice.toFixed(2));
                            }
                        }
                    });
                });
            <?php elseif($modeloProduto == 'Varão'):?>
                require(['jquery'], function ($) {
                    $(document).ready(function(){
                        let idLargura = '#options_15_text'
                        let idAltura = '#options_16_text'
                        let idVarao = '#options_14_2'
                        let idSuporte = '#options_17_2'

                        let finalPrice = '<?php echo $block->getProduct()->getPrice(); ?>'
                        finalPrice = parseFloat(finalPrice)
                        let currentInputSelectPrice = 0
                        
                        let maoDeObraPrice = '<?php echo $block->getProduct()->getMaodeobra(); ?>'
                        maoDeObraPrice = parseFloat(maoDeObraPrice)
                        
                        let varaoPrice = '<?php echo $block->getProduct()->getVarao(); ?>'
                        varaoPrice = parseFloat(varaoPrice)
                        
                        let suportePrice = '<?php echo $block->getProduct()->getSuporte(); ?>'
                        suportePrice = parseFloat(suportePrice)

                        let currentVaraoPrice = 0
                        let currentSuportePrice = 0
                        let currentMaoDeObraTotalPrice = 0
                        let currentLarguraAlturaPrice = 0 //determinando o preço do metro quadrado padrão
                        $('#smartcatalogoption_finalprice').val(finalPrice)
                        setDefaultPrice()

                        function setDefaultPrice(){
                            if(defaultPrice == false){
                                let defaultLargura = '<?php echo $block->getProduct()->getDefaultLargura(); ?>'
                                let defaultAltura = '<?php echo $block->getProduct()->getDefaultAltura(); ?>'
                                defaultLargura = parseFloat(defaultLargura)
                                defaultAltura = parseFloat(defaultAltura)
                                setTimeout(function(){ calcNewPrice(defaultLargura, defaultAltura); }, 7000);
                            }
                        }  

                        $(idVarao).change(function(){ 
                            calcAcrescimo()
                        });
                        $(idSuporte).change(function(){ 
                            calcAcrescimo()
                        });
                        $(idLargura).on('change', function(){ 
                            largura = this.value;
                            altura = $(idAltura).val()
                            calcNewPrice(largura, altura)
                            $('#smartcatalogoption_finalprice').val(finalPrice)
                            jQuery('span.price-final_price > span.price-wrapper > span.price').text('R$ '+finalPrice.toFixed(2));
                        });
                        $(idAltura).on('change', function(){  
                            largura = $(idLargura).val()
                            altura = this.value;
                            calcNewPrice(largura, altura)
                            $('#smartcatalogoption_finalprice').val(finalPrice)
                            jQuery('span.price-final_price > span.price-wrapper > span.price').text('R$ '+finalPrice.toFixed(2));
                        });

                        function setDefaultPrice(){
                            if(defaultPrice == false){
                                let defaultLargura = '<?php echo $block->getProduct()->getDefaultLargura(); ?>'
                                let defaultAltura = '<?php echo $block->getProduct()->getDefaultAltura(); ?>'
                                defaultLargura = parseFloat(defaultLargura)
                                defaultAltura = parseFloat(defaultAltura)
                                setTimeout(function(){ calcNewPrice(defaultLargura, defaultAltura); }, 7000);
                            }
                        } 

                        function calcAcrescimo(){
                            if($(idLargura).val()){
                                largura = $(idLargura).val()
                            } else {
                                largura = 1
                            }

                            if($(idAltura).val()){
                                altura = $(idAltura).val()
                            } else {
                                altura = 1
                            }

                            calcNewPrice(largura, altura)
                        }
                        
                        function calcNewPrice(largura, altura){
                            defaultPrice = true
                            if(largura > 0 && altura > 0){
                                finalPrice = 0
                                let basePrice = '<?php echo $block->getProduct()->getPrice(); ?>' //pegando o preço base do produto
                                let maoDeObraPrice = '<?php echo $block->getProduct()->getMaodeobra(); ?>' //pegando o preço da mão de obra
                                let trilhowavePrice = '<?php echo $block->getProduct()->getTrilhowave(); ?>' //pegando o preço do trilho wave
                                basePrice = parseFloat(basePrice)
                                maoDeObraPrice = parseFloat(maoDeObraPrice)
                                trilhowavePrice = parseFloat(trilhowavePrice)
                                //150*((2*3)*1)+(30*(2*3)
                                let varaoTotalPrice = 0
                                varaoTotalPrice = varaoPrice * largura //calculo do preço do varao em base da largura 
                                let suporteTotalPrice = 0
                                suporteTotalPrice = suportePrice * largura //calculo do preço do suporte em base da largura 
                                finalPrice =  basePrice*((largura*3)*altura)+(maoDeObraPrice*(largura*3))+varaoTotalPrice+suporteTotalPrice
                            }
                            if(finalPrice > 0){
                                $('#smartcatalogoption_finalprice').val(finalPrice)
                                $('.product-info-price .price-container span.price').text('R$ '+finalPrice.toFixed(2));
                            }
                        }
                    });
                });
            <?php endif; ?>
        </script>
    <?php endif;
?>