<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Widget\Taxvat $block */
?>
<div class="field taxvat<?= $block->isRequired() ? ' required' : ''; ?>">
    <label class="label" for="<?= $block->escapeHtmlAttr($block->getFieldId('taxvat')) ?>">
    <span><?= $block->escapeHtml('CPF') ?></span></label>
    <div class="control">
        <input type="text" id="<?= $block->escapeHtmlAttr($block->getFieldId('taxvat')) ?>" 
        name="<?= $block->escapeHtmlAttr($block->getFieldName('taxvat')) ?>" 
        value="<?= $block->escapeHtmlAttr($block->getTaxvat()) ?>" 
        title="<?= $block->escapeHtmlAttr($block->getStoreLabel('taxvat')) ?>" 
        class="input-text input-cpf <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('taxvat')) ?>" <?= $block->isRequired() ? ' data-validate="{required:true, cpfValidationRule:true, taxvatValidationRule:true}"' : '' ?>>
    </div>
</div>

<script type="text/x-magento-init">
   {
       "*": {
           "cpfMethod": {},
           "taxvatMethod": {}
       }
   }
</script>
<script type='text/javascript'>
    require([
        "jquery", "mask"
    ], function($) {
        $(document).ready(function(){
            $.browser = {};
            (function () {
                $.browser.msie = false;
                $.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                $.browser.msie = true;
                $.browser.version = RegExp.$1;
            }
            })();
            $('.input-cpf').mask('999.999.999-99');
        });
    });
</script>