<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Contact\Block\ContactForm $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();  
$request = $objectManager->get('Magento\Framework\App\Request\Http');  
$page = $param = $request->getParam('page');
?>
<div class="contato-page">
    <?php if($page == null): ?>
        <div class="breadcrumbs teteop">
            <ul class="items">
                <li class="item home">
                <a href="<?php echo $block->getUrl('/'); ?>" title="Ir para a página inicial">
                Início                </a>
                / </li>
                <li class="item category38">
                <strong>Contato</strong>
                / </li>
            </ul>
        </div>
        <div class="contact-image">
            <img src="<?php echo $block->getViewFileUrl('images/contact.png'); ?>" />
        </div>
        <div class="page-title-wrapper page-title-contact">
            <h1 class="page-title">
                <span class="base" data-ui-id="page-title-wrapper">Fale Conosco</span>    
            </h1>
        </div>
        <div class="contact-wrapper">
            <div class="form-contact">
                <form class="form contact"
                    action="<?= $block->escapeUrl($block->getFormAction()) ?>"
                    id="contact-form"
                    method="post"
                    data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
                    data-mage-init='{"validation":{}}'>
                    <fieldset class="fieldset">
                        <legend class="legend"><span><?= $block->escapeHtml(__('Write Us')) ?></span></legend><br />
                        <div class="field note no-label"><?= $block->escapeHtml(__('Jot us a note and we’ll get back to you as quickly as possible.')) ?></div>
                        <div class="field name required">
                            <label class="label" for="name"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
                            <div class="control">
                                <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('name') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
                            </div>
                        </div>
                        <div class="field email required">
                            <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                            <div class="control">
                                <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('email') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
                            </div>
                        </div>
                        <div class="field telephone">
                            <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Phone Number')) ?></span></label>
                            <div class="control">
                                <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" class="input-text" type="text" />
                            </div>
                        </div>
                        <div class="field comment required">
                            <label class="label" for="comment"><span><?= $block->escapeHtml(__('What’s on your mind?')) ?></span></label>
                            <div class="control">
                                <textarea name="comment" id="comment" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?= $block->escapeHtml($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('comment')) ?></textarea>
                            </div>
                        </div>
                        <?= $block->getChildHtml('form.additional.info') ?>
                    </fieldset>
                    <div class="actions-toolbar">
                        <div class="primary">
                            <input type="hidden" name="hideit" id="hideit" value="" />
                            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                                <span><?= $block->escapeHtml(__('Submit')) ?></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="other-contacts">
                <div class="other-title">
                    <span>CONTATO RAPIDO</span>
                </div>
                <div class="other-contact">
                    <span class="other-subtitle">Contatos</span>
                    <span>Tel: 11 4227-4259</span>
                    <span>Email: sac@putzquelegal.com.br</span>
                </div>
                <div class="other-contact">
                    <span class="other-subtitle">Endereço</span>
                    <span>Av. Senador Roberto Simonsen, 743 - sala 121</span>
                    <span>Santo Antônio. São Caetano do Sul/SP</span>
                </div>
            </div>
        </div>
    <?php else: ?>
        <div class="breadcrumbs teteop">
            <ul class="items">
                <li class="item home">
                <a href="<?php echo $block->getUrl('/'); ?>" title="Ir para a página inicial">
                Início                </a>
                / </li>
                <li class="item category38">
                <strong>Trabalhe Conosco</strong>
                / </li>
            </ul>
        </div>
        <div class="contact-image">
            <img src="<?php echo $block->getViewFileUrl('images/revenda.png'); ?>" />
        </div>
        <div class="revenda-wrapper">
            <div class="form-contact">
                <form class="form contact"
                    action="<?= $block->escapeUrl($block->getFormAction()) ?>"
                    id="contact-form"
                    method="post"
                    data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
                    data-mage-init='{"validation":{}}'>
                    <fieldset class="fieldset">
                        <div class="field note no-label">
                            <span>
                                <?= $block->escapeHtml(__('Faça seu pedido para ser um Revendedor PQL')) ?>
                            </span>
                        </div>
                        <div class="fields">
                            <div class="field name required">
                                <label class="label" for="name"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
                                <div class="control">
                                    <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('name') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
                                </div>
                            </div>
                            <div class="field name required">
                                <label class="label" for="surname"><span><?= $block->escapeHtml(__('Sobrenome')) ?></span></label>
                                <div class="control">
                                    <input name="surname" id="surname" title="<?= $block->escapeHtmlAttr(__('Sobrenome')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('name') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="field email required">
                            <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                            <div class="control">
                                <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('email') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
                            </div>
                        </div>

                        <div class="fields">
                            <div class="field cpf">
                                <label class="label" for="cpf"><span><?= $block->escapeHtml(__('CPF')) ?></span></label>
                                <div class="control">
                                    <input name="cpf" id="cpf" title="<?= $block->escapeHtmlAttr(__('CPF')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" class="input-text" type="text" />
                                </div>
                            </div>
                            <div class="field genero">
                                <label class="label" for="genero"><span><?= $block->escapeHtml(__('Gênero')) ?></span></label>
                                <div class="control">
                                    <select name="genero" id="genero">
                                        <option value="">Selecione um gênero</option>
                                        <option value="m">Masculino</option>
                                        <option value="f">Feminino</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="fields">
                            <div class="field birth">
                                <label class="label" for="birth"><span><?= $block->escapeHtml(__('Data de Nascimento')) ?></span></label>
                                <div class="control">
                                    <input name="birth" id="birth" title="<?= $block->escapeHtmlAttr(__('Data de Nascimento')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" class="input-text" type="date" />
                                </div>
                            </div>
                            <div class="field telephone">
                                <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Phone Number')) ?></span></label>
                                <div class="control">
                                    <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" class="input-text" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="fieldsthree">
                            <div class="field postcode">
                                <label class="label" for="postcode"><span><?= $block->escapeHtml(__('CEP')) ?></span></label>
                                <div class="control">
                                    <input name="postcode" id="postcode" title="<?= $block->escapeHtmlAttr(__('CEP')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" class="input-text" type="text" />
                                </div>
                            </div>
                            <div class="field street">
                                <label class="label" for="street"><span><?= $block->escapeHtml(__('Rua')) ?></span></label>
                                <div class="control">
                                    <input name="street" id="street" title="<?= $block->escapeHtmlAttr(__('Rua')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" class="input-text" type="text" />
                                </div>
                            </div>
                            <div class="field complemento">
                                <label class="label" for="complemento"><span><?= $block->escapeHtml(__('Complemento')) ?></span></label>
                                <div class="control">
                                    <input name="complemento" id="complemento" title="<?= $block->escapeHtmlAttr(__('Complemento')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" class="input-text" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="fields">
                            <div class="field bairro">
                                <label class="label" for="bairro"><span><?= $block->escapeHtml(__('Bairro')) ?></span></label>
                                <div class="control">
                                    <input name="bairro" id="bairro" title="<?= $block->escapeHtmlAttr(__('Bairro')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" class="input-text" type="text" />
                                </div>
                            </div>
                            <div class="field cidade">
                                <label class="label" for="cidade"><span><?= $block->escapeHtml(__('Cidade')) ?></span></label>
                                <div class="control">
                                    <input name="cidade" id="cidade" title="<?= $block->escapeHtmlAttr(__('Cidade')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" class="input-text" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="field comment required" style="display: none">
                            <label class="label" for="comment"><span><?= $block->escapeHtml(__('Deixe um comentário')) ?></span></label>
                            <div class="control">
                                <textarea name="comment" id="comment" title="<?= $block->escapeHtmlAttr(__('Deixe um comentário')) ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}">revenda</textarea>
                            </div>
                        </div>
                        <?= $block->getChildHtml('form.additional.info') ?>
                    </fieldset>
                    <div class="actions-toolbar">
                        <div class="primary">
                            <input type="hidden" name="hideit" id="hideit" value="" />
                            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                                <span><?= $block->escapeHtml(__('Submit')) ?></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <?php endif; ?>
</div>
