@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.panel.wrapper {
    display: none;
}

*{box-sizing: border-box;}

a.logo {
    width: 96px;
}
.product-image-wrapper{padding-bottom:0 !important;height:300px;}
.control {/* border-radius: 20px; */}

input#search {
    border-radius: 20px;
    padding: 20px;
}
#banner-slider-carousel .owl-carousel .owl-stage-outer{padding:0 !important;}


.block.block-search {
    float: left;
    margin: 0 30px;
    display: block;
	width:624px;max-width:100%;float:right;
}
.cms-home .search-itens{display:none !important;}

.navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top{border:0 !important;}

.minicart-wrapper{height: 44px;display: flex;align-items: center;}

.minicart-wrapper .action.showcart.active::before{font-size:0 important;color:transparent !important;}

.minicart-wrapper .action.showcart::before {
    width: 30px;height: 27px;content: "";display: block;
    background: url(https://i.ibb.co/S6cpbzf/Grupo-7-2x.png);
	background-size: 100%;background-position: center;background-repeat: no-repeat;}
	
.block-search .action.search::before{font-size: 20px !important;}

.container{width:1222px;max-width:100%;position:relative;margin:auto;}
.container .col-sm-4{width:33.3333%;float:left;}
.item.promo1{background:url(https://i.ibb.co/YhMLVVc/item-promo01.png);background-position: center;
background-size: 100%;background-repeat: no-repeat;width: 100%;height: 200px;position: relative;}
.item .txt{position: absolute;right: 0;width: 60%;margin-left: 15px;top: 30px;margin-right: 25px;}
.item .txt h2{font-weight: 700;color: #6E6E6E;margin-bottom: 15px;font-size: 28px;}
.item .txt p{color: #6E6E6E;font-family: "Open Sans";font-size: 16px;max-width: 90%;}
.item .txt h2 span{color:#C1C1C1;font-weight:400;font-size:27px;}

.item.promo2{background:url(https://i.ibb.co/J5GZZKQ/item-promo02.png);background-position: center;
background-size: 100%;background-repeat: no-repeat;width: 100%;height: 200px;position: relative;}
.item.promo2 .txt p, .item.promo3 .txt p{margin-left:25px;}

.item.promo3{background:url(https://i.ibb.co/q5x3Spk/item-promo03.png);background-position: center;
background-size: 100%;background-repeat: no-repeat;width: 100%;height: 200px;position: relative;}
.item.promo3 .txt h2{font-size:35px;}

.container .col-sm-6{width:50%;float:left;display:flex;}
.marca{background-repeat: no-repeat !important;
background-size: 100% !important;width: 320px;max-width: 100%;height: 370px;position: relative;padding-bottom: 80px;margin: 40px 0 20px;cursor: pointer;}
.marcas{background: url(/pub/media/bg_marcas_home.png);overflow: hidden;width: 100%;background-size: cover;
background-repeat: no-repeat;background-position: center;margin-bottom:30px;}

.columns .column.main {
padding-bottom: 0 !important;}

.marca1{background: url(https://i.ibb.co/MDtRKkL/image1p.png);float: right;
right: 15px;}
.marca2{background: url(https://i.ibb.co/F0KJh27/image2p.png);}
.marca3{background: url(https://i.ibb.co/M5mVBmY/Grupo-1368-2x.png);float: left;
left: 15px;}
.marca4{background: url(https://i.ibb.co/842pyJV/Grupo-1369-2x.png);}

.marca a{position:absolute;width:100%;height:100%;z-index:2;top:0;left:0;display:block;font-size:0;}

.marca .logom{position: absolute;width: 180px;bottom: -10px;left: 50%;transform: translateX(-50%);transition: all .2s ease-in-out;border-radius: 5px;}
.marca:hover .logom{bottom:25px;box-shadow:0 0 40px rgb(255,255,255,.8);}
.quebra-linha{width:100%;display:block;overflow:hidden;margin-bottom:35px;}
.quebra-linha img{width:100%;height:auto;}

.mobile{display:none;}
.categoriesbanners.mobile, .marcas.mobile{display:none !important;}
	
.container .col-sm-6 .caixa{width:100%;position:relative;}

.categoriesbanners{min-height: 721px;
background: url(/pub/media/bg_categorias_home.png);
background-size: 100%;
background-repeat: no-repeat;
background-position: center;display: block;
width: 100%;
overflow: hidden;position:relative;}

.categoriesbanners:after{content:"";width:100%;height:80px;position:absolute;bottom:0;left:0;background:#f8f8f8;}

.page-footer{padding-bottom:0 !important;}

.marcasbanners{background:#f8f8f8;padding-top: 100px;padding-bottom:50px;}

.categoriesbanners ul{display: block;
overflow: hidden;
max-width: 100%;
width: 900px;
margin-left: auto;
margin-right: auto;
background: transparent;
margin-top: 50px;position:relative;z-index:1;}

.categoriesbanners ul li{display: flex;
width: 50%;float: left;justify-content: center;}

.categoriabanner{width: 406px;
height: 550px;background-size: 100% 550px;position: relative;}

.categoriabannerwrapper{position: absolute;
bottom: 40px;
text-align: center;left: 0;width: 100%;}

.categoriabannerwrapper span {color: #F8F8F8;
font-size: 18px;
display: block;}

.hmobile{display:none !important;}

.categoriabannerwrapper .categoriabannertitle{color: #FFF;font-size: 28px;line-height: 28px;
display: block;text-transform: uppercase;font-weight: 700;margin: 5px 0 10px;}

.categoriabannerwrapper a{display: flex;
width: 211px;
height: 50px;
color: #fff;
align-items: center;
justify-content: center;
border: 2px solid #fff;
border-radius: 50px;
margin: 20px auto 0;
font-size: 17px;
text-decoration: none !important;
transition: all .2s ease-in-out;}

.categoriabannerwrapper a:hover{transform: scale(1.1);}

.listmarcas{display: flex;width: 900px;margin: auto;align-items: center;max-width:100%;}
.listmarcas .box1 h2{color: #6E6E6E;font: bold 64px/64px Raleway;}
.listmarcas .box1 h2 span{font: normal normal normal 32px/24px Raleway;display: block;padding-left: 2px;}
.listmarcas .box img{height:115px;}
.listmarcas .line-m{width:180px;position:relative;height:120px;}
.listmarcas .line-m:before{content:"";width:120px;height:1px;background:#6E6E6E;position:absolute;left:30px;top:50%;transform:translateY(-50%);}

.arrow {width: 60px;height: 60px;background-repeat: no-repeat;}
#arrow-next img {width: 60px;margin-left: 3px;}
#arrow-prev img {width: 60px;margin-right: 3px;}
#arrow-next {border: none;transition: all 0.3s ease-in-out 0s;cursor: pointer;outline: none;position: absolute;
    right: 0px;top: 50%;transform: translateY(-50%);border-radius: 50%;background-size: 25px;
    background-position: left 14px center;display: flex;align-items: center;justify-content: center;}
#arrow-prev {border: none;transition: all 0.3s ease-in-out 0s;cursor: pointer;outline: none;position: absolute;
    left: 0px;top: 50%;transform: translateY(-50%);border-radius: 50%;background-size: 25px;
    background-position: right 14px center;display: flex;align-items: center;justify-content: center;}
	
.product-items{padding:0 !important;margin:50px 0;}

a.product-item-link{font: Bold 19px/26px Raleway !important;min-height:69px;max-height:69px;}
.product-item .price-box .price{font: Bold 28px/28px Raleway !important;}
.product-item .price-box {width: 120px !important;padding: 11px 0 15px !important;}

.product-item-info{max-width:370px !important;margin:25px auto !important;}
.product-items.slick-slide .product-item-info:hover, .product-item-info:hover{background:#fff;border-radius:5px !important;box-shadow: 0px 0px 20px #00000014 !important;}
.product-item-details{padding:30px 30px 40px;}
.product-item-info .product-image-wrapper img{width: 100% !important;height: 300px;object-fit: cover;border-bottom: 8px solid #F498AE;}
.product-item-info:hover .product-image-wrapper img{border-radius: 5px 5px 0 0;border-bottom:8px solid #DA7948;}
.product-item-info:hover{}

ul#ui-id-2 {}

nav.navigation {
    background-image: linear-gradient(270deg,#6E6E6E, #222222);
    color: #fff;
}

.navigation li a span {
    color: #fff;
    text-transform: uppercase;
}

.sections.nav-sections {
    margin: 0;
}

main#maincontent {
    padding: 0;
}

.sections.nav-sections {
    margin: 0;
}
#maincontent .page-title-wrapper {
    max-width: 1024px;
    margin: 20px auto 0;
}
.cms-index-index #maincontent .page-title-wrapper {
    max-width: 1024px;
    margin: 0 auto 0;
}

.catalog-product-view .column.main {
    margin: 40px 0;
}

#maincontent .page-title-wrapper {
    max-width: 1024px;
    margin: 20px auto 0;
}
main#maincontent {
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
}
.fotorama__stage__frame .fotorama__img{width:100% !important;height:100% !important;object-fit:cover;}

.fotorama__nav-wrap .fotorama_vertical_ratio .fotorama__img{height:100% !important;object-fit:cover;}

#product-shipping-method{display: block;
overflow: hidden;
height: auto;
padding-bottom: 5px;
border-bottom: 1px solid #b2b2b2;}

.product-info-main .page-title-wrapper{display:none;}





.cms-home .carrousel{width:1222px;max-width:100%;margin:auto;}
.carrousel .product-item-details .product-item-actions .action.primary{margin-top:15px !important;}

.owl-theme .owl-controls .owl-nav [class*="owl-"].owl-prev::before, .owl-theme[class*=owl-carousel-product] .owl-controls .owl-nav [class*=owl-].owl-prev:hover:before, 
.owl-theme .owl-controls .owl-nav [class*=owl-].owl-prev:after, .owl-theme[class*=owl-carousel-product] .owl-controls .owl-nav [class*=owl-].owl-prev:hover:after {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    z-index: 1;
    width: 50px !important;
    height: 50px !important;
    content: "";
    background: url(https://i.ibb.co/52F8TRf/Control-before-2x.png) !important;
    background-size: cover !important;
    transform: none !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    mask-image: none !important;
    border: 0 !important;}
	
.owl-theme .owl-controls .owl-nav [class*="owl-"].owl-next::before, .owl-theme[class*=owl-carousel-product] .owl-controls .owl-nav [class*=owl-].owl-next:hover:before, 
.owl-theme .owl-controls .owl-nav [class*=owl-].owl-next:after, .owl-theme[class*=owl-carousel-product] .owl-controls .owl-nav [class*=owl-].owl-next:hover:after {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    z-index: 1;
    width: 50px !important;
    height: 50px !important;
    content: "";
    background: url(https://i.ibb.co/ZWRf6hR/Control-after-2x.png) !important;
    background-size: cover !important;
    transform: none !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    mask-image: none !important;
    border: 0 !important;
}

.minicart-wrapper .action.showcart .counter.qty{background: #F498AE !important;position: absolute !important;
top: -7px !important;border-radius: 50% !important;font-size: 11px !important;right: -10px;font-weight: 700 !important;width:24px !important;}

.page-layout-2columns-right .column.main {
width: 75% !important;}
.page-layout-2columns-right .sidebar-additional {
width: 25% !important;float:left:important;}

.owl-theme .owl-controls .owl-nav [class*="owl-"]{width:50px !important;height:50px !important;font-size:0;}

[class*=owl-carousel-products-] .owl-theme .owl-controls .owl-nav [class*=owl-]:hover{color:transparent !important;}
[class*=owl-carousel-products-] .owl-theme .owl-controls .owl-nav [class*=owl-]:hover:before,
[class*=owl-carousel-products-] .owl-theme .owl-controls .owl-nav [class*=owl-]:hover:after {border-color:transparent !important;}
.owl-theme[class*=owl-carousel-product] .owl-controls .owl-nav [class*=owl-]:hover:before,
.owl-theme[class*=owl-carousel-product] .owl-controls .owl-nav [class*=owl-]:hover:after {background: transparent !important;}

nav.navigation {
    max-width: 100%;position:relative;height:55px;display: flex !important;
align-items: center;
}
nav.navigation:after{content:"";position:absolute;background:url(https://i.ibb.co/xYjG20r/Repeti-o-de-grade-2-2x.png);left:0;bottom:0;background-size:100%;background-repeat:no-repeat;width:100%;height:3px;}

nav.navigation ul.ui-menu {
    width: 1222px;
    margin: 0 auto;
    display: block;max-width:100%;
}
.navigation .level0 > .level-top{
    padding: 0 30px 0 0;
}
.header.content {
    padding: 30px 0 0;
    width: 1222px;
max-width: 100%;
}

a.block-promo.home-main {
    max-width: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

.widget .block-promo img {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.banners-marcas {
    width: 1084px;
    margin: 40px auto 160px;
    clear: both;
    float: none;
    position: relative;
}

.banner-marca {
    float: left;
    width: 22%;
    margin: 60px 3% 0 15%;
}

.blocks-promo-bottom {
    padding: 40px 150px;
}

.content-heading {
    float: none;
    clear: both;
    padding: 74px 0 0;
}

.banner-marca img:nth-child(2) {margin: -50px 38px;width: 150px;}

.products-grid.grid {
    margin: 0 auto;
}

.actions button.action.search {
    padding: 12px;
    display: block;
    top: -6px;
}

a.product-item-link {
    color: #6E6E6E;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-weight: 600;
}

.product-item .product-reviews-summary .rating-summary {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.product-item .product-reviews-summary .reviews-actions {
    margin: 10px auto;
    display: block;
    float: none;
    text-align: center;
    color: #6E6E6E;
    font-size: 10px;
}

.product-item .product-reviews-summary .reviews-actions span, .product-item .product-reviews-summary .reviews-actions a {
    color: #6E6E6E;
}

.products-grid span.normal-price {
    text-align: center;
    margin: 0 auto;
    display: block;
    color: #6E6E6E;
    width: 80px;
    padding: 6px 0;
    border-top: 1px solid #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
}

span.normal-price .price-label {
    display: none;
}

.product-item-actions .action.primary {
    color: #ffffff;
    background: #F498AE;
    border: 1px solid #F498AE;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
  }
  .product-item-actions  .action.primary:focus,
  .product-item-actions  .action.primary:active {
    background: #F498AE;
    border: 1px solid #F498AE;
    color: #ffffff;
    border-radius: 20px;
  }
  .product-item-actions  .action.primary:hover {
    background: #F498AE;
    border: 1px solid #F498AE;
    color: #ffffff;
    border-radius: 40px;
  }
  .rating-summary .rating-result {
    width: 66px !important;
    font-size: 12px !important;
    color: #6e6e6e !important;
    margin: 0 auto;
}
.rating-summary .rating-result > span:before{
    font-size: 12px  !important;
    color: #6e6e6e  !important;
}
.rating-summary .rating-result:before{
    font-size: 12px;
}
.rating-summary .rating-result > span {
    display: block;
    overflow: hidden;
    font-size: 12px;
}

.footer.content .links a,.footer.content .links a:active {color: #fff;}

footer.page-footer {
    /* background-image: linear-gradient(270deg,#6E6E6E, #222222); */
    /* background-color: #585858; */
    background: no-repeat;
}

small.copyright {
    background-color: #ffffff;
    color: #6e716e;
}

.page-footer #newsletter-validate-detail {
    margin: 0;
}
.navigation .level0 .submenu{
    background: #545454;
    border: 1px solid #545454;
}

body.catalog-category-view #maincontent .page-title-wrapper {
    display: none;
}

.breadcrumbs {
    padding: 39px;
    margin: 0;
    text-align: center;
    font-size: 20px;max-width: 100%;
background: url(/pub/media/bg_title.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.breadcrumbs li{
    font-size: 20px;
    text-transform:uppercase
}

body:not(.cms-index-index) .columns {
    width: 1222px;
    margin: 0 auto;
}

.page-products .products-grid .product-item, .page-layout-1column .block.widget .products-grid .product-item{
    width: calc((100% - 6%)/3);
}
.block.widget.block-products-list.grid {
    width: 1222px;
margin: 0 auto;
position: relative;padding:0 100px;
}
.product-item .product-image-container {
    max-width: 100%;
margin: 0 auto;
display: block;
width: 100% !important;
}
.actions button.action.search {
    padding: 10px 5px;
    display: block;
    top: -5px;
	opacity: 1 !important;
}

.filter-options {
    padding: 20px 0px 0 20px;
}

.toolbar.toolbar-products {
    padding: 20px;
    background-color: #F3F3F3;
font-size: 12px;margin-bottom:0 !important;}
}

.toolbar select {background-color: #fff;border: none;font-size: 12px;}
.navigation .level0{
    margin: 0 30px 0 0;
}

.filter-options {
    padding: 0;
}

.filter-options-title::after{display:none !important;}

.toolbar.toolbar-products {
    padding: 20px;
    background-color: #F3F3F3;
    font-size: 14px;
font-family: Raleway;
}

.filter-options-title{text-decoration: none !important;
font-size: 19px;color: #6E6E6E;font-family: Raleway;padding: 10px 40px 0 0 !important;font-weight:700 !important;margin-bottom: 15px;text-transform:none;}

.filter-options-content {padding: 0 0 10px !important;}

.filter-options-content .mgs-filter-item-checkbox {
    display: none !important;
}
.filter-content .item {
    margin: 0 0 5px !important;
    line-height: 20px !important;
    font-size: 15px;font-family:"Open Sans";
}
.filter-options-item {
    border-bottom: 2px dashed #ccc !important;
    padding-bottom: 10px;
}
.irs-bar,.irs-slider{background:#ccc !important;}

.toolbar select {background-color: #fff;border: none;font-size: 14px;
font-family: Raleway;}

.sidebar-main{padding-right:0 !important;}

.product.name.product-item-name > a {
    font-weight: bold;
}

.product-item span.price {
    font-size: 20px;
}

.filter .block-subtitle{
    text-transform: uppercase;
}

.product.actions.product-item-actions .actions-secondary {
    display: none;
}

.product-item-actions button.action.primary {
    width: 180px;
    margin: 0 auto;
    display: block;
    border-radius: 33px;
    height: 43px;
}
.product-item-actions button.action.primary span{
    color: #000;
}
.product-item-actions .actions-primary {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.page-wrapper .breadcrumbs .item.home a{
    color: #B2B2B2;font-family: Raleway;
font-size: 22px;
font-weight: 400;
}

.page-wrapper .breadcrumbs .item.category a{
    color: #6E6E6E;
}
.breadcrumbs strong {
    font-weight: 700 !important;
    font-size: 22px;
    font-family: Raleway !important;
}

.page-wrapper .breadcrumbs .item.category strong{
    color: #6E6E6E;
    font-weight: bold;
}

.breadcrumbs .item:not(:last-child):after {
    content: none;
}

.product-title-name {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    color: #6E6E6E;
    font-family: 'Raleway';
}
.product-info-main .stock.available, .product-info-main .stock.unavailable {
    font-weight: 700;
    text-transform: lowercase;
    font-style: italic;
    float: right;
    display: block;
    color: #B2B2B2;
}
.product-info-main .product.attribute.sku {
    word-break: break-all;
    font-weight: bold;
    word-wrap: break-word;
    font-size: 15px;
    float: left;
    color: #6E6E6E;
}
.catalog-product-view h1.page-title {
    display: none;
}
.product-social-links .action.tocompare:before {
    content: none;
}

.block-revendedor{
    display: none;
    float: left;background-image: linear-gradient(270deg,#6E6E6E, #222222);color: #fff;padding: 12px;width: 200px;text-align: center;border-radius: 20px;}

.block-revendedor a{
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
.block-revendedor a:hover{
    text-decoration: none;
}
.product-add-form .product-options-bottom .action.primary {
    background-image: none;
    background: #707070;
    border: 1px solid #707070;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 20px;
}

.product-info-main .product-info-price .product-info-stock-sku .stock.available{
    color: #B2B2B2;
    font-style: italic;
    text-transform: lowercase;
}

.reviews-actions a,.reviews-actions .alink {
    color: #6E6E6E;
    text-decoration: none;
}
.product-info-main .product-reviews-summary{
    width: 100%;
float: left;
position: relative;
top: 20px;z-index:2;
}
.product.info.detailed a#tab-label-description-title {
    border: none;
}
.product-reviews-summary .reviews-actions .action.add{
    float: right;
    text-align: right;
    display: block;
    font-size: 12px;
    text-decoration: underline;
}
.reviews-actions {
    width: 66%;
}

.rating-summary {
    width: 25%;
}
a.action.showcaccount.showcaccountname {
    width: 100%;
    display: flex;
    overflow: hidden;
    height: auto;
    margin: 0;
    background: none;
}
a.action.showcaccount {
    display: block;
    float: left;
    margin: 1px 5px;
    color: #333333;
    font-size: 12px;
    text-decoration: none;
    width: 26px;width: 30px;
    height: 30px;
    background: url(https://i.ibb.co/prGBzjg/iconaccount.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 15px;
}
.product-item .price-box{
    text-align: center;
}
.block-products-list .block-title{
    display: none;
}
.cms-index-index #maincontent .page-title-wrapper{
    margin: 0 auto;
}.reviews-actions {
    float: right;
}

.catalog-product-view .price-container .price-wrapper  span.price {
    font-weight: bold;
    font-size: 32px;
}

.product-info-main .product-info-price {
    color: #575757;
    border-bottom: none;position: absolute;
top: 0;
}

.product.attribute p {
    color: #6E6E6E;
    line-height: 25px;
}

.box-tocart input#qty {padding-top: 19px;height: 50px;border-radius: 10px;width: 55px;}

.box-tocart .fieldset > .field > .label {
    top: 33px !important;
    display: block !important;
    position: relative;
    left: 14px;
    color: #B2B2B2;
}

.product-info-main .product.attribute.sku .type {
    font-weight: bold;
}

.box-tocart button.action {
    background-color: #6E6E6E;
    border: #6E6E6E;
    border-radius: 20px;
    top: 1258px;
    left: 757px;
    padding: 10px;
    width: 188px;
    height: 55px;
    background: var(--unnamed-color-6e6e6e) 0% 0% no-repeat padding-box;
    background: #6E6E6E 0% 0% no-repeat padding-box;
    border-radius: 46px;
    opacity: 1;
}

a.action.tocompare {}

.product-social-links a.action.tocompare {
    text-transform: capitalize;
    text-decoration: var(--unnamed-decoration-underline);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: center;
    text-decoration: underline;
    font: Regular 12px/22px Open Sans;
    letter-spacing: 0px;
    color: #6E6E6E;
    opacity: 1;
    font-size: 10px;
}

.product-social-links .action.tocompare:before {}

span {}

.product-social-links {
    float: left;
    width: 50%;
}

.reviews-actions {
    float: right;
}

.catalog-product-view .price-container .price-wrapper  span.price {
    font-weight: bold;
    font-size: 32px;
}

.product-info-main .product-info-price {
    color: #575757;
    border-bottom: none;
}

.product.attribute p {
    color: #6E6E6E;
    line-height: 22px;
	font-size:15px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: left;
    font: Regular 12px/28px Open Sans;
    letter-spacing: 0px;
    color: #6E6E6E;
    opacity: 1;
}

.box-tocart input#qty {padding-top: 18px;
height: 50px;
border-radius: 5px;
width: 70px;}

.fieldset:last-child {
    margin-bottom: 0 !important;
}
.bundle-options-container .block-bundle-summary .box-tocart, .box-tocart {
    margin: 0 0 10px !important;
}

.box-tocart .fieldset > .field > .label {
    top: 25px !important;
display: block !important;
position: relative;
left: 18px;
color: #B2B2B2;
margin-bottom: 0;
}

.product-info-main .product.attribute.sku .type {
    font-weight: bold;
}

.box-tocart button.action {
    background-color: #6E6E6E;
    border: #6E6E6E;
    border-radius: 20px;
    top: 1258px;
    left: 757px;
    padding: 10px;
    width: 188px;
    height: 55px;
    background: var(--unnamed-color-6e6e6e) 0% 0% no-repeat padding-box;
    background: #6E6E6E 0% 0% no-repeat padding-box;
    border-radius: 46px;
    opacity: 1;
}

a.action.tocompare {}

.product-social-links a.action.tocompare {
    text-transform: capitalize;
    text-decoration: var(--unnamed-decoration-underline);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: center;
    text-decoration: underline;
    font: Regular 12px/22px Open Sans;
    letter-spacing: 0px;
    color: #6E6E6E;
    opacity: 1;
    font-size: 10px;
}

.product-social-links .action.tocompare:before {}

span {}

.product-social-links {
    float: left;
    width: 50%;
}

div#tab-label-description {
    border: none;
}

.product.info.detailed a#tab-label-description-title {
    border: none;
    font: Bold var(--unnamed-font-size-24)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: left;
    font: Bold 14px/26px Raleway;
    letter-spacing: 0px;
    color: #6E6E6E;
    opacity: 1;
}

.product.data.items > .item.content {border-top: 4px solid #D4D4D4;
border-bottom: none;
border-left: none;
border-right: navajowhite;
padding: 30px 0;
position: relative;}

.product.data.items > .item.title.active > .switch, .product.data.items > .item.title.active > .switch:focus, .product.data.items > .item.title.active > .switch:hover {
    font-size: 22px !important;
    line-height: 22px !important;
    padding: 0 50px 10px 0;
    height: 35px;
    border-bottom: 4px solid #6E6E6E !important;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background: transparent !important;
    font-weight: 700 !important;
    margin-right: 15px;
}
.product.data.items > .item.title > .switch {
    font-size: 22px !important;
    line-height: 22px !important;
    padding: 0 60px 10px 0;
    height: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-bottom: 4px solid transparent !important;
    border: 0;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
    font-weight: 400 !important;
    font-family: Raleway;
    color: #6E6E6E !important;
    background: transparent !important;
    margin-top: 12px;
}
#description .description .value{font-size: 16px;
line-height: 28px;
color: #6E6E6E;}

.related{display: block;
width: 100%;
height: auto;
overflow: hidden;}
.related .products-grid.grid{width: 100%;
overflow: auto;}
.related .products-grid.grid .product-items{width: 132%;
display: flex;
margin-bottom: 0;}
.related .products-grid.grid .product-items li.item.product.product-item {
width: 33%;}
.related .products-grid.grid .product-items li.item.product.product-item .product-item-info {
    max-width: 370px !important;
margin: 25px auto !important;width:100%;}

ul.product-shipping-rates{display: block;
overflow: hidden;
margin-bottom: 0;
padding-left: 0;}
ul.product-shipping-rates li.product-shipping-result {
    display: block;
    float: left;
    width: 30%;
    margin: 0 1.5%;
    background: #fff;
    padding: 10px 20px;
}
ul.product-shipping-rates li.product-shipping-result strong{font-size: 13px;
color: #707070;font-family: "Open Sans";}
ul.product-shipping-rates li.product-shipping-result span{font-size: 14px;
color: #707070;letter-spacing: -0.8px;}

.cms-quem-somos .columns {width: 100% !important;margin-top: 20px !important;}
.cms-quem-somos .separator.home1 {padding: 0;position:relative;margin: 50px 0;}
.cms-quem-somos .separator.home1 .iconelinha{top:0;}
.cms-quem-somos .separator.home1 .iconefolha{position:absolute;top:-35px;}
.cms-quem-somos .container .col-sm-6{display:block;}
.section-quem-somos .col-sm-6 h2{margin-top: 0;font-family: Raleway;font-weight: 700;text-transform: uppercase;color: #6E6E6E;font-size: 50px;line-height: 50px;}
.section-quem-somos .col-sm-6 p{color: #6E6E6E;font-size: 17px;line-height: 25px;text-align: left;}
.cms-quem-somos .img-qs{width: 100%;height: 400px;background: url(/pub/media/top_putz_bg.jpg);margin-top: -20px;
        margin-bottom: 30px;background-size: cover;background-position: center;background-repeat: no-repeat;}
.cms-quem-somos .marcas-qs{width: 100%;display: block;overflow: hidden;background: #f8f8f8;box-shadow: 0px 0px 32px #00000014;padding: 65px 100px;margin-bottom: 50px;margin-top:150px;}
.cms-quem-somos .sobre{display: block;width: 100%;overflow: hidden;height: auto;}
.marcas-qs h2{text-align: center;color: #6E6E6E;font-size: 50px;line-height: 50px;font-weight: 700;text-transform: uppercase;font-family: Raleway;margin-top: 0;}
.marcas-qs h2 span{display: block;font-size: 28px;font-weight: 400;}
.section-quem-somos{background: url(/pub/media/bg_quemsomos.png);background-size: 100%;background-repeat: no-repeat;background-position: top center;}
.marca-box{display: flex;align-items: center;margin-bottom: 40px;}
.marca-box .image-marca{width: 20%;float: left;}
.marca-box .desc-marca{width: calc(80% - 50px);float: left;margin-left: 50px;padding-left: 35px;}
.atelie .desc-marca{border-left: 1px solid #DA7948;}
.marca-box .desc-marca h3{font-size: 23px;color: #6E6E6E;font-family: Raleway;}
.marca-box .desc-marca p{margin-bottom: 3px;color: #6E6E6E;font-size: 16px;line-height: 24px;}
.pql .desc-marca{border-left: 1px solid #FFC04F;}






@media(max-width: 1000px){
	#mageplaza-bannerslider-block-before-content-1{display:none !important;}
	.banner-slide.mobile{display:block !important;}
	
	.cms-quem-somos main#maincontent {padding: 0 !important;}
	.section-quem-somos{padding:0 30px;background:none !important;}
	.section-quem-somos .col-sm-6 h2{font-size: 32px !important;line-height: 32px !important;text-align: center;}
	.cms-quem-somos .img-qs{height:170px !important;}
	.section-quem-somos .col-sm-6 p {font-size: 15px !important;line-height: 22px !important;text-align: center !important;}
	.cms-quem-somos .marcas-qs{margin-top:40px !important;padding:30px !important;}
	.marcas-qs h2{font-size:32px !important;line-height:32px !important;}
	.marcas-qs h2 span{font-size:18px !important;}
	.marca-box {display: block !important;overflow: hidden;}
	.marca-box.atelie .image-marca {width: 100% !important;float: left;text-align: center;padding-bottom: 20px;margin-bottom: 30px;border-bottom: 1px solid #DA7948;margin-top: 30px;}
	.marca-box.pql .image-marca {width: 100% !important;float: left;text-align: center;padding-bottom: 20px;margin-bottom: 30px;border-bottom: 1px solid #FFC04F;}
	.marca-box.pql .image-marca img, .marca-box.atelie .image-marca img {width:150px;}
	.marca-box .desc-marca {width: 100% !important;float: left;margin-left: 0 !important;padding-left: 0 !important;border: 0 !important;text-align: center !important;}
	.marca-box .desc-marca p {
    margin-bottom: 3px;
    color: #6E6E6E;
    font-size: 15px !important;
    line-height: 22px !important;
    text-align: center !important;
}
.opc-estimated-wrapper{margin-top:35px;}
.opc-estimated-wrapper .minicart-wrapper {float: right;margin: 9px 30px 0 0;width: 30px;text-align: center;}
	
	li.product-shipping-result {
    display: block;
    float: left;
    width: 100% !important;
    margin: 0 0 15px !important;}
    .page-wrapper {width: 100%;}
	.catalog-product-view main#maincontent {padding: 10px 20px !important;display: block;overflow: hidden;}
	
	.catalog-product-view .product.media {
    display: block;
    overflow: hidden;
    position: absolute;
    max-width: 100%;
    width: calc(100% - 40px) !important;
    min-width: 50% !important;
}
	.product-main {float: left;width: 100% !important;padding-right: 0 !important;}
	.catalog-product-view main#maincontent{background:none !important;}
	.product-info-main {width: 100% !important;position: relative !important;float: left !important;margin-top: 440px;padding: 0;}
	.product-info-main .product-info-price{position: absolute;top: 0;left: 0;padding: 0;}
	.product-info-main .product-info-price{margin-right: 0 !important;
margin-left: 0 !important;
width: 100% !important;}
	.catalog-product-view .product.media{width: 100%;display: block;overflow: hidden;min-width: 100%;position: absolute;}
	.fotorama__stage {max-width: 100%;overflow: hidden;position: relative;width: 100% !important;height: 300px !important;}
	.fotorama_stage .fotorama__img{height:100%;object-fit:cover;}
	.product-shipping-method{padding:30px !important;}
	.product-postcode{width:100% !important;}
	.product-shipping-link{height: 15px !important;line-height: 15px !important;top: -10px !important;width: 100% !important;}
	.product.data.items{margin-left:0;margin-right:0;}
	.product.data.items > .item.title > .switch{font-size: 20px !important;
	line-height: 20px !important;border-bottom: 1px solid #b2b2b2 !important;}
	.product.data.items > .item.title.active > .switch, .product.data.items > .item.title.active > .switch:focus, .product.data.items > .item.title.active > .switch:hover{
	border-bottom: 1px solid transparent !important;margin-right: 0;}
	.product.right {width: 100% !important;float: left !important;}
	.product.right li.item.product.product-item {width: 100% !important;}
	.product.right .product-items .product-item-info .product-item-photo {overflow: hidden !important;height: 110px !important;width: 40% !important;}
	.products-upsell .product.details.product-item-details {width: 60% !important;float: left !important;}
	.products-upsell .product.details.product-item-details a {
    font-size: 13px !important;}
	.products-upsell .product-item .price-box {
    width: 100% !important;}
	.products-upsell .product.details.product-item-details .price-box span {font-size: 20px !important;}
	.product.right .banner-produto{display:none;}
	.related .products-grid.grid .product-items {width: 100%;display: block;}
	.related .products-grid.grid .product-items li.item.product.product-item {width: 50% !important;padding: 0 5px;
}.related .product-image-wrapper {padding-bottom: 0 !important;height: 130px;}
	.related .product-item-info .product-image-wrapper img {height: 130px;}
	strong#block-related-heading{font: Bold 30px/34px Raleway !important;}
	span#block-related-heading{font-size:16px !important;}
	.product-info-main .product-info-price .price-box{top:35px !important;}
	.product-info-main .product-info-price .price-box{overflow:visible !important;}
	.product-info-price > :first-child {padding-left: 0 !important;}
	
	.page-layout-2columns-right .sidebar-additional, .page-layout-2columns-right .column.main {width:100% !important;}
	
	.category-putz-que-legal .banner-top-catgoria, .category-atelie-fontenello .banner-top-catgoria{height:150px !important;}
	.columns .sidebar-main{max-width: 100%;margin: auto;}
	.page-products .banner-produto {display: none !important;}
	.toolbar.toolbar-products{position: relative !important;display: flex !important;align-items: center !important;justify-content: center !important;padding: 15px 0;
margin-top: 15px;}
	.page-products .sorter {position: relative !important;}
	.products-grid.grid{overflow:hidden !important;}
	li.item.product.product-item {width: 100% !important;}
	.page-products .product-items{width: 100%;display: block;overflow: hidden;}
	.product-item-details {padding: 15px !important;}
	.product.name.product-item-name > a{font-size: 13px !important;line-height: 18px !important;min-height: 37px !important;overflow: hidden;max-height: 37px !important;}
	.product-item .price-box{margin:0 auto 0 !important;padding: 5px 0 10px !important;}
	.product-item .price-box .price {font: Bold 19px/25px Raleway !important;}
	.filter-options{display:block !important;}
	.page-with-filter .toolbar-amount {display: none !important;}
	.page-products .product-item-info .product-image-wrapper img {height: 100% !important;object-fit: cover;}
	.page-products .product-image-wrapper{/* height:140px !important; */}
	.page-products .columns {padding-top: 0 !important;}
	
.container .col-sm-4, .container .col-sm-6{width:100%;}

.marca1{margin-left: auto;
margin-right: auto;
float: none;
right: 0;}

.marca3{margin-left: auto;
margin-right: auto;
float: none;
left: 0;}



body:not(.cms-index-index) .columns, .header.content {
    width: 100%;
}

.home-popular p.info{font-size:16px !important;margin-bottom:0;}
.home-popular h2.title{font: Bold 28px/34px Raleway !important;margin-top:0 !important;}
.content-heading.home-popular {max-width: 80%;margin: 30px auto;}

.quebra-linha {
    width: 300%;
    margin: 0 -100% 0;}
	
	.marcasbanners{padding-top: 0;
	overflow: hidden;}

.actions button.action.search::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    line-height: 32px;
    color: #757575;
    content: '\e615';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.block.block-content {
    width: 100%;
}

.block.block-search {margin: 0;float: none;}

.block-search input {
    left: 0;
}

a.logo {
    width: 90px;
margin: 0 auto;
float: none;
display: block;
position: absolute;
left: 50%;
top: 5px;
transform: translateX(-50%);
}

.logo img {
    text-align: center;
    width: 100%;
    display: block;
}

.block-search .label {
    top: 203px;
    position: absolute;
    z-index: 9999;
    display: none;
    right: 0;
}

.actions button.action.search {
    z-index: 2;
    position: absolute;
    top: 75px;
    right: 15px;
    border: none;
    background: none;
    box-shadow: none;font-size:0;
}

.actions {
}

.block.block-search {
}

input#search {
    position: relative;
}

.product-banner img {
    width: 200%;
    position: absolute;
    height: 55px;
    max-width: 100%;
    /* margin-left: -38%; */
}

.product-banner {
    height: 60px;
}

.catalog-product-view .column.main {
    margin: 0;
}

.page-wrapper {
}
}

.product-social {
    width: 100%;
    margin: 0 0 auto;
    display: block;
    overflow: hidden;
}

.product-social-item{
    float: left;
    display: block;
}

img.product-social-item {width: 30px;margin: 0 5px;}
span.product-social-item {margin: 5px 5px;color:#6E6E6E;font-size:14px;}
.product-shipping-method {
    width: 100%;
    display: block;
    float: none;
    clear: both;
    height: 100px;
    border-bottom: 1px solid #b7b5b5b5;
}

.product-shipping-link {
    width: 60%;
margin: 0;
float: left;
text-align: right;
display: block;
font-size: 12px;
color: #6E6E6E;
text-decoration: underline;
height: 55px;
line-height: 55px;
top: 5px;
position: relative;
}

.product.right .product-items{margin:0 !important;}
.product.right .product-items .product-item-info {width: 100%;
height: auto;overflow: hidden;display: block;margin: 0 0 20px !important;}
.product.right .product-items .product-item-info .product-item-photo{overflow: hidden;
height: 80px;width: 80px;display: block;border: 1px solid #BEBEBE;float: left;}


.product-postcode {
    width: 40%;
    float: left;position:relative;top:-15px;
}

.product-postcode input[type="text"] {
    height: 60px;
    border-radius: 10px;
    padding: 20px 20px 0;
}


.product-postcode label {
    top: 25px !important;
display: block !important;
position: relative;
left: 0px;
color: #B2B2B2;
padding-left: 20px;
}

.product-shipping-link a {
    color: #6E6E6E;
}

.product.data.items {
    margin-top: 100px;
}

.product-item-info {
    /* width: 500px; */
    margin: 0 auto;
}

li.item.product.product-item {
    width: 33%;
}

.products-grid .product-item-info:hover, .products-grid .product-item-info.active {
    margin: 0 auto;
}

.product.name.product-item-name > a {
    color: #6E6E6E;
    font: Bold var(--unnamed-font-size-24)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: center;
    font: Bold 15px/26px Raleway;
    letter-spacing: 0px;
    color: #6E6E6E;
    opacity: 1;
}

.catalog-product-view .products-related .price-container .price-wrapper span.price {
    font: Bold var(--unnamed-font-size-32)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: center;
    font: Bold 24px/24px Raleway;
    letter-spacing: 0px;
    color: #6E6E6E;
    text-transform: uppercase;
    opacity: 1;
}

.products-related .product-item .price-box {
    border-top: 1px solid #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
    padding: 10px;
}

.product-item-info {
    /* width: 500px; */
    margin: 0 auto;
}

li.item.product.product-item {
    width: 33.3333%;padding:0;margin:0 !important;
}
.page-products .product-item-info {
    width: 95% !important;
}

.products-grid .product-item-actions {margin: 0 !important;}

.products-grid .product-item-info:hover, .products-grid .product-item-info.active {
    margin: 0 auto;
}

.product.name.product-item-name > a {
    color: #6E6E6E;
    font: Bold var(--unnamed-font-size-24)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: center;
    font: Bold 15px/26px Raleway;
    letter-spacing: 0px;
    color: #6E6E6E;
    opacity: 1;
}

.catalog-product-view .products-related .price-container .price-wrapper span.price {
    font: Bold var(--unnamed-font-size-32)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: center;
    font: Bold 24px/24px Raleway;
    letter-spacing: 0px;
    color: #6E6E6E;
    text-transform: uppercase;
    opacity: 1;
}

.products-related .product-item .price-box {
    border-top: 1px solid #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
    padding: 10px;
}
span#block-related-heading {
    font: Regular var(--unnamed-font-size-32)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-b2b2b2);
    text-align: center;
    letter-spacing: 0px;
    color: #B2B2B2;
    text-transform: uppercase;
    font-size: 24px;
    opacity: 1;
    font: Regular 27px/25px Raleway;
}
strong#block-related-heading {
    font: Bold var(--unnamed-font-size-64)/var(--unnamed-line-spacing-64) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: center;
    font: Bold 55px/64px Raleway;
    letter-spacing: 0px;
    color: #6E6E6E;
    text-transform: uppercase;
    text-align: center;
    opacity: 1;
}
.block.related .block-title {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
}
.block.related .block-actions {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
}
a.product-item-link {
    font: Bold var(--unnamed-font-size-24)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: center;
    font: Bold 15px/26px Raleway;
    letter-spacing: 0px;
    color: #6E6E6E;
    opacity: 1;
}

.product-item .price-box .price {
    font: Bold var(--unnamed-font-size-32)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: center;
    font: Bold 23px/24px Raleway;
    letter-spacing: 0px;
    color: #6E6E6E;
    text-transform: uppercase;
    opacity: 1;
}

.product-item .price-box {
    border-top: 1px solid #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
    width: 100px;
    margin: 20px auto 0;
    padding: 11px;
}

.products-grid .product-item-info:not(:hover):not(.active) .product-item-inner {
    margin: 15px auto 0 !important;
padding: 0;
position: relative;
width: 100% !important;
display: block;
overflow: hidden;
height: 60px;
}
.products-grid .product-item-info .product-item-inner {
    margin: 15px auto 0 !important;
    padding: 0 !important;
    position: relative !important;
    width: 100% !important;
    display: block;
    overflow: hidden !important;
    height: 60px !important;
}

.products-grid .product-item-info:hover, .products-grid .product-item-info.active {
    background: #ffffff;
    box-shadow: none;
    border: none;
    /* margin: 0; */
    padding: 0;
    /* position: relative; */
    z-index: 9;
}
.products-grid .product-item-info:hover{
    margin: 0 auto;
}
.block.widget .products-grid .product-item .product-item-inner, .page-layout-1column .block.widget .products-grid .product-item .product-item-inner {
    box-shadow: none;
    margin: 30px auto 0;
    border: none;
    padding: 0;
}

.product-item-actions .actions-primary + .actions-secondary {
    display: none;
}

#mini-cart li.item.product.product-item {
    width: 100%;
}
.home-popular p.info {
    font: Regular var(--unnamed-font-size-32)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-raleway);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-b2b2b2);
text-align: center;
letter-spacing: 0px;
color: #B2B2B2;
text-transform: uppercase;
font-size: 24px;
opacity: 1;
font: Regular 27px/25px Raleway;
}

.home-popular h2.title {
font: Bold var(--unnamed-font-size-64)/var(--unnamed-line-spacing-64) var(--unnamed-font-family-raleway);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-6e6e6e);
text-align: center;
font: Bold 44px/44px Raleway;
letter-spacing: 0px;
color: #6E6E6E;
text-transform: uppercase;
text-align: center;
opacity: 1;margin-top:0;
}

.content-heading.home-popular {
    padding: 0;
}
.product-postcode input[type="number"] {
    height: 55px;
border-radius: 5px;
border: 1px solid #B2B2B2;
padding: 20px 20px 5px;
font-family: Raleway;
font-size: 17px;
color: #6E6E6E;
box-shadow: none !important;
}
#product-shipping-method-button{position: absolute;
right: 0;
top: 20px;
font-size: 0;
background-color: transparent;
border: 0;
box-shadow: none !important;
background: url(https://i.ibb.co/hsQ3zZc/loupe.png);
background-size: 22px;
background-position: center;
background-repeat: no-repeat;
height: 55px;
width: 60px;transition:.2s all;}
#product-shipping-method-button:hover{opacity:0.7;}

.navigation .parent:hover > .submenu {
    width: 100%;
}
.home-popular h2.title.left {
    text-align: left;
}

.qs-left {
    text-align: justify;
    color: #6E6E6E;
    margin: 0;
    padding: 0 20px 0 0;
}

.qs-right {
    width: 100%;
    float: right;
    padding: 150px 30px 0;
    font-size: 22px;
    text-transform: uppercase;
    color: #6E6E6E;
}

.qs-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.qs-content strong.title {
    color: #6E6E6E;
}

.qs-wrapper.marcas {
    margin: 54px 0 0;
    grid-template-columns: 20% 80%;
}

.qs-content {
    margin: 20px 0;
}

.qs-image img {
    width: 100%;
    position: absolute;
    z-index: 9999;
    left: 0px;
}

.cms-quem-somos .content-heading.home-popular {
    padding: 400px 0 0 0;
}

.cms-quem-somos .content-heading.home-popular.qs-popular {
    padding: 100px 0 0;
}

.footer-menus {
    display: grid;
    grid-auto-flow: column;
    width: 1222px;
    max-width:100%;
    padding: 30px 0 0 0;
    margin: 0 auto;
    background-color: #585858;
}

.footer-title span {
    color: #B2B2B2;
    font: Bold var(--unnamed-font-size-24)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-b2b2b2);
    text-align: left;
    font: Bold 19px/24px Raleway;
    letter-spacing: 0px;
    color: #B2B2B2;
    opacity: 1;
}

.footer-title {
    border-bottom: 1px solid grey;
    width: 200px;
    padding: 10px 0;
    margin: 10px 0;position:relative;
}
ul.footer.links {
    display: none !important;
}
.fieldset.address .field.street .field .label {
    position: relative;
    font-weight: 600;
}

.footer-itens span{
    float: none;
    display: block;
}
.footer-itens li, .footer-itens a, .footer-itens span {
    font: Regular var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-f8f8f8);
    text-align: left;
    font: Regular 18px/28px Open Sans;
    letter-spacing: 0px;
    color: #F8F8F8;
    opacity: 1;
}
.footer-social {
    margin: 10px 0;
}

form.contact .field.note.no-label {
    font: Regular var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: center;
    font: Regular 18px/28px Open Sans;
    letter-spacing: 0px;
    border-bottom: 1px solid rgb(219,219,219);
    color: #6E6E6E;
    opacity: 1;
    margin: 40px 0 0 0;
}

form.contact input, form.contact select {
    padding-top: 19px;
    height: 66px;
    line-height: 1.42857143;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #c2c2c2;
    padding: 0px 0 0 15px;
    background-color: transparent;
}

form.contact label.label {
    top: 33px !important;
    display: block !important;
    position: relative;
    left: 14px;
    color: #B2B2B2;
}

.contact-index-index h1.page-title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    color: #6E6E6E;
    font-family: 'Raleway';
}

.contact-index-index .columns {
    width: 100% !important;
    margin: 0;
    padding: 0;
}

.contact-wrapper {
    width: 1028px;
    margin: 20px auto;
}
.contact-index-index #maincontent .page-title-wrapper {
    display: none;
}
.contact-index-index #maincontent .page-title-wrapper.page-title-contact{
    display: block;
}

.form-contact {
    width: 50%;
    float: left;
}

.other-contacts {
    max-width: 50%;
    float: left;
    padding: 400px 0 100px 58px;
}

.other-title {
    font: Regular var(--unnamed-font-size-32)/36px var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: left;
    font: Regular 32px/36px Raleway;
    letter-spacing: 0px;
    color: #6E6E6E;
    text-transform: uppercase;
    opacity: 1;
}

.other-contact span {
    display: block;
}

span.other-subtitle {
    font-weight: bold;
}

span.other-subtitle {}

.other-contact {
    margin: 10px 0;
}

form#contact-form {
    min-width: 100%;
}

.other-title span {
    font-size: 30px;
}

.showcaccount img {
    width: 30px;
}
.bottom-banner1, .bottom-banner2, .bottom-banner3 {
    width: 33.3%;
    float: left;
}
.bottom-banner1-img{
    float: left;
    width: 32%;
}
.bottom-banner3-img{
     float: left;
    width: 40%;
}
.bottom-banner2-img{
    float: left;
    width: 50%;
}
.bottom-banner1-text, .bottom-banner2-text, .bottom-banner3-text{
    float: left;
    width: 50%;
}
.bottom-banner3-text{
    margin-left: 10px;
}
.blocks-promo-bottom span.destaque {
    font-size: 34px;
    font-weight: bold;
    color: #6E6E6E;
    display: inline-block;
    margin: 0 5px 0 0;
}

.blocks-promo-bottom  span {
    color: #C1C1C1;
    display: block;
}

.blocks-promo-bottom span.subtitle {
    font-size: 27px;
    display: inline-block;
}

.bottom-banner2-text span.destaque {margin-left: -38px;color: #6E6E6E;float: left;}

.blocks-promo-bottom .bottom-banner2-text span.subtitle {
    margin: 10px 0;
}

.revenda-wrapper {
    width: 800px;
    margin: 0 auto;
}

.fieldset  .fields .field {
    float: left;
    width: 48%;
}

.fieldset  .fieldsthree .field {
    float: left;
    width: 31%;
}

.revenda-wrapper .form-contact {
    width: 100%;
}

.revenda-wrapper .fields {
    width: 100%;
    float: none;
    clear: both;
}

.fieldset .fields .field:first-child {
    margin: 0 4% 0 0;
}

.fieldset .fieldsthree .field:first-child {
    margin: 0 4% 0 0;
}

.fieldset .fieldsthree .field:nth-child(2) {
    margin: 0 3% 0 0;
}

.fieldsthree {
    width: 100%;
    float: none;
    clear: both;
}

.revenda-wrapper .field.note.no-label span {
    font: Bold var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: center;
    font: Bold 18px/28px Open Sans;
    letter-spacing: 0px;
    color: #6E6E6E;
    opacity: 1;
}

.revenda-wrapper button.action.submit.primary {
    background: var(--unnamed-color-222222) 0% 0% no-repeat padding-box;
    background: #222222 0% 0% no-repeat padding-box;
    border-radius: 46px;
    float: none;
    opacity: 1;
    width: 407px;
    height: 72px;
    display: block;
    margin: 20px auto;
    text-align: center;
}
.revenda-wrapper .primary{
    width: 100%;
}

.banner-marca.banner-pql img:nth-child(2) {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    border-style: ridge;
    width: 76px;
    border-spacing: 30px;
    border: 1px solid yellow;
}

.products-grid.grid .product-item-inner{
    box-shadow: none;
    border: none;
}
.products-grid .product-item-inner{
    margin: 0;
}
.qs-logo {
    width: 118px;
    padding: 44px;
}
li.ul-menu-last {
    float: right;
}
.iconefolha {
    background-image: url(../images/icone.png);
    width: 100%;
    height: 72px;
    background-size: 46px;
    position: relative;
    display: block;
    top: -35px;
    background-repeat: no-repeat;
    background-position: center;
}
.iconelinha {
    border-top: 1px solid #C6C6C6;
    padding-top: 0px;
    display: block;
    position: relative;
    width: 100%;
    top: 24px;
}
.category-atelie-fontenello .banner-top-catgoria{width: 100%;
height: 400px;
background: url('/pub/media/perfume.png');
margin-top: -20px;
margin-bottom: 30px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;}

.category-putz-que-legal .banner-top-catgoria{width: 100%;
height: 400px;
background: url('/pub/media/maquiagem.png');
margin-top: -20px;
margin-bottom: 30px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;}

.page-products #maincontent{
    background: url(/pub/media/bg_categoria.png);
    background-size: 423px;
    background-repeat: no-repeat;
background-position: top 700px left;}

.separator.home1 {
    padding: 320px 0 0;
}
.related-content-container .product-item-actions button.action.primary {
    width: 144px;
}

.related-content-container .product-item-actions .actions-primary {
    width: 150px;
    margin: 10px 0;
}
.related-content-container .products-grid .product-item-inner{
    padding: 0;
}
.only-mobile{
    display: none !important;
}
.only-desktop{
    display: block !important;
}
@media(max-width: 1000px){
	.sidemobile h2{background-color: transparent !important;
box-shadow: none !important;
border: 0 !important;
border-radius: 0 !important;
font-weight: 700;
left: 0;
line-height: 24px !important;
padding: 0 0 5px !important;
position: relative !important;
text-align: left !important;
top: 0;
z-index: 2;
color: #6E6E6E !important;
font-size: 22px !important;
text-transform: uppercase;
font-family: Raleway;
width: 100%;
	display: block;cursor:pointer;}

	
	.cms-home .carrousel{margin-top:-90px;}
	
	.owl-carousel .owl-item .product-item {width: 80% !important;margin: auto !important;}
	
	.page-products #maincontent{background:none !important;}
	
	.listmarcas{display:block !important;text-align:center;}
	.listmarcas .line-m{display:none;}
	.listmarcas .box2, .listmarcas .box3{width:50%;float:left;text-align:center;margin-top:35px;}
	.listmarcas .box1 h2{font: bold 40px/40px Raleway !important;}
	.listmarcas .box1 h2 span{font: normal normal normal 22px/22px Raleway !important;}
	
	.footer.content .block.newsletter:after{background-size:cover!important;height:2px !important;}
	.page-footer {margin-top: 0 !important;}
	
	.minicart-wrapper .block-minicart{right:12px;}
	.minicart-wrapper .action.close{right:5px;top:5px;}
	
	.footer-menu .footer-title:after{content:"";width:20px;height:20px;background:url(https://i.ibb.co/W0ksb3G/add.png);background-size:cover;background-position:center;background-repeat:no-repeat;position:absolute;right:10px;top:5px;transition:.2s all;}
	.footer-menu.active .footer-title:after{background:url(https://i.ibb.co/qmnsvzJ/minus.png);width: 20px;height: 20px;background-size: cover;}
	.footer-menu .footer-itens{max-height: 0;
overflow: hidden;
-webkit-transition: ease-in-out .3s;
-o-transition: ease-in-out .3s;
transition: ease-in-out .3s;
opacity: 0;
-webkit-transform: scale(1,.6);
-ms-transform: scale(1,.6);
transform: scale(1,.6);
-webkit-transform-origin: top;
-ms-transform-origin: top;
transform-origin: top;}

.footer-menu.active .footer-itens{max-height: 350px;
opacity: 1;
margin-bottom: 18px;
-webkit-transform: scale(1,1);
-ms-transform: scale(1,1);
transform: scale(1,1);}

.sidemobile .layered-filter-block-container{max-height: 0;
overflow: hidden;
-webkit-transition: ease-in-out .3s;
-o-transition: ease-in-out .3s;
transition: ease-in-out .3s;
opacity: 0;
-webkit-transform: scale(1,.6);
-ms-transform: scale(1,.6);
transform: scale(1,.6);
-webkit-transform-origin: top;
-ms-transform-origin: top;
transform-origin: top;}

.sidemobile.active .layered-filter-block-container{max-height:550px;opacity: 1;
margin-bottom: 18px;
-webkit-transform: scale(1,1);
-ms-transform: scale(1,1);
transform: scale(1,1);}
	
    .only-mobile{
        display: block !important;
    }
    .only-desktop{
        display: none !important;
    }
    .header.content .accountname {
        float: right;
        position: absolute;
        top: -140px;
        right: 0;
        margin: -4px;
        text-align: right;
        width: 84px;
    }
    li.level0.nav-4.category-item.last.level-top.ui-menu-item.ul-menu-last {
        float: left;
        background-image: linear-gradient(270deg,#6E6E6E, #222222);
        margin: 0;
        width: 35%;
    }
    .bottom-banner1, .bottom-banner2, .bottom-banner3 {
        width: 100%;
        margin: 10px 0;
        padding: 0;
    }
    
    .blocks-promo-bottom {
        padding: 10px;
    }
	
.nav-toggle::before {
    content: "";
    background: url(https://i.ibb.co/zJjPLfm/menu-symbol-of-three-parallel-lines.png);
    width: 28px;
    height: 28px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-header {
    border-bottom: 0;
    margin-bottom: 0;padding-bottom: 0 !important;}
	
	.block-search .control{background:#333;}
	.block-search input{margin:10px 0;}

    .minicart-wrapper {
        float: right;
margin: -20px 0 15px;
width: 100px;
text-align: center;
    }
    
    a.action.showcaccount {
        /* float: none; */
    }
    
    .minicart-wrapper .action.showcart {
        float: right;
    }
    
    .banners-marcas {
        width: 100%;
        margin: 0;
        padding: 0;
        display: none;
    }
    
    li.product-item {
        float: none;
        display: block;
    }
    
    ol.product-items.widget-product-grid {
        width: 100%;width: 100%;
overflow: hidden;
height: auto;
    }
    
    .block.widget.block-products-list.grid {
        width: 100%;padding:0;
    }
	li.product-item {
    float: left !important;}
	.product-item.slick-slide .product-item-info{width:80%;}
	.product-item-info{box-shadow: 0px 0px 20px #00000014;}
	a.product-item-link {
    font: Bold 15px/22px Raleway !important;
    min-height: 44px;
    max-height: 44px;
}
.desktop{display:none;}
.mobile{display:flex;overflow: auto;
width: 100%;}
.mobile .col-sm-4{display:block;width:300px;min-width:300px;}
.line-icons {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    display: block;background: rgba(244, 244, 244, 0.3);
}
.item .txt p{font-size:14px !important;margin-top:5px !important;}
.item .txt h2 span {font-size: 21px !important;font-weight: 400;}
.item .txt h2 {margin-bottom: 5px !important;
    font-size: 21px !important;font-family: "Open Sans";}
.item.promo1, .item.promo2, .item.promo3{height:170px !important;}
.marca .logom{width:200px;}
.marca .logom img{max-width:100%;}

.categoriabanner{background-size:cover;width:100%;}
.categoriesbanners.mobile{display: block !important;
overflow: auto;
position: relative;
height: auto;
margin-bottom: 0;
width: 100%;
padding-bottom: 20px;}
.categoriesbanners.mobile .categorias-banner{display: flex;
overflow: auto;
width: 200%;
min-width: 200%;
position: relative;
text-align: center;
height: 100%;
z-index: 3;}
.categoriesbanners.mobile .categoriabanner {background-size: cover;width: 90%;margin: auto;}
.categoriesbanners.mobile .categoriesbanners ul li {width: 50%;display: block;float: left;}
.marcas.mobile{display: block !important;
overflow: auto;width: 100%;max-width: 100%;}
.marcas.mobile .cont-caixa{width: 200%;
display: flex;
min-width: 200%;}
.marcas.mobile .cont-caixa #page-1, .marcas.mobile .cont-caixa #page-2, .categoriesbanners.mobile .categorias-banner #page-3, .categoriesbanners.mobile .categorias-banner #page-4{width: 50%;
display: block;}
.marcas.mobile .caixa {
    width: 100%;
display: flex;
overflow: hidden;
}
.categoriesbanners.mobile::after {
    content: "";
width: 200% !important;}

nav.bullets {display:none;width:100%;text-align:center;margin-bottom:20px;}
nav.bullets a{width: 15px;
height: 15px;
display: inline-block;
border-radius: 50%;
background: #ccc;
color: transparent;
text-decoration: none;
	margin: 0 3px;}


.product-item-info .product-image-wrapper img{height:250px;}

.product-item-details .product-item-actions .action.primary{max-width:200px !important;font-size:14px !important;height:45px !important;}
	.product-image-wrapper{padding-bottom:0 !important;height:250px;}
	
	.sections.nav-sections {background-image: linear-gradient(270deg,#6E6E6E, #222222) !important;}
	.nav-sections-item-title {background: transparent !important;border: 0 !important;width:50%;}
	.nav-sections-item-title a{color: #fff !important;
font: bold 17px/22px Raleway !important;}
.nav-sections-item-content{padding:0 !important;}
nav.navigation{height:100% !important;}
	.navigation .level0 {margin: 0 !important;width: 100% !important;}
	#ui-id-2 .level0:first-child{border-top:0;}
	.nav-sections .header.links li.greet.welcome {
    font-weight: 700;
    font-size: 1.6rem !important;
    color: #fff !important;
    padding: 20px !important;}
	
	.hmobile{display:block !important;}
	
	.nav-sections .header.links a, .nav-sections .header.links a:hover {
    color: #fff !important;
    padding: 20px !important;
    text-transform: uppercase;
}
.sections.nav-sections .sections-items .sections-item-title a{position:relative;padding-left:30px;}
.sections.nav-sections .sections-items .sections-item-title:nth-child(1) a:before{content:"";width:20px;height:20px;background:url(https://i.ibb.co/Zm8p1tY/burguer.png);background-size:cover;background-repeat:no-repeat;position:absolute;left:0;top:24px;}
.sections.nav-sections .sections-items .sections-item-title:nth-child(2) a:before{content:"";width:20px;height:20px;background:url(https://i.ibb.co/rcmH8br/conta.png);background-size:cover;background-repeat:no-repeat;position:absolute;left:0;top:24px;}
	
	.arrow {
    width: 35px;
    height: 35px;}
	#arrow-prev img, #arrow-prev img{
    width: 35px;}
    
    .page-layout-1column .block.widget .products-grid .product-item {
        width: 100%;margin: 0;
padding: 0 10px;
    }
	.product-items {
    padding: 0 !important;
    margin: 0;}
    
    .footer.content .links > li {
        width: 100%;
        display: block;
    }
    
    .footer-menus {
        width: 100%;
        display: block;
        text-align: center;padding-bottom:35px;
    }
    footer.page-footer .footer.content .block.newsletter{
        width: 100%;height: auto;
background: linear-gradient(180deg, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 15%);
text-align: center;padding: 50px 0 50px;
    }
	.newsletter .title strong{font: normal normal normal 25px/32px Raleway !important;}
	.newsletter span{font: normal normal bold 17px/24px Raleway !important;}
	.block.newsletter .content{max-width:90%;}
	.block.newsletter .form.subscribe {
    display: block !important;
    width: 100%;
    max-width: 90%;
    overflow: hidden;
    position: relative;margin:auto !important;
}
.block.newsletter input {
margin-right: 0;margin-bottom:10px;height:50px !important;font-size:16px !important;}
.block.newsletter .action.subscribe{width: 100% !important;
margin: 0 !important;
height: 50px !important;
box-shadow: none !important;}
.block.newsletter .title {margin: 0px auto 5px !important;}
	.block.newsletter .field .control::before {
    font-size: 17px !important;
line-height: 50px !important;}
.categoriesbanners ul{max-width:90%;padding:0;}
.categoriesbanners ul li{width:100%;}
.categoriesbanners{background-size:cover !important;min-height:auto;}
	.footer-itens ul li{text-align:left;}
	.footer-itens li, .footer-itens a, .footer-itens span{font-size:15px !important;line-height:30px !important;font-family:"Open Sans";}
	.footer-title{width:100%;padding: 5px 0 15px;text-align: left !important;
                  text-transform: uppercase !important;margin: 15px 0 0 !important;}
	.footer-title span{font: Bold 17px/22px Raleway !important;}
	.footer-menu {padding: 0 15px !important;}
	.footer-itens .footer-contact span{text-align:center;}
	.footer-social {
    margin: 10px auto 0;
    overflow: hidden;
    text-align: center;
    width: 155px;
}
	
    .nav-sections .navigation .level0 > .level-top {
        padding: 20px;
    }
    li.item.product.product-item {
        width: 42%;
        margin: 0px 3%;
        padding: 0;
    }
    button.action.tocart.primary {
        width: 100%;
        height: auto;
        max-width: 200px;
        padding: 10px 0;
        margin: 0 auto;
        border: 0;
    }
    
    .product-item-actions .actions-primary {
        width: 100%;
    }
    header.page-header {
        padding: 10px;
    }
    .cms-quem-somos .content-heading.home-popular {
        padding: 100px 0 0;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    
    .cms-quem-somos .quem-somos .home-popular h2.title.left {
        text-align: center;
    }
    
    .cms-quem-somos .qs-wrapper {grid-template-columns: 100%;padding: 20px;text-align: justify;margin: 0 auto;}
    
    .cms-quem-somos .qs-left {
        padding: 0;
    }
    
    .cms-quem-somos .qs-logo {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .separator.home1 {
        padding: 370px 0 0;
    }
    .cms-quem-somos .qs-wrapper.marcas {
        grid-template-columns: 100%;
    }
    .cms-page-view main#maincontent {
        padding: 10px;
    }
    p {
        text-align: justify;
    }
    .product-banner {
        max-width: 100%;
    }
    .product-social{
        width: 320px;
    }
    main#maincontent {
        padding: 10px;
    }
    .actions-toolbar .action-advice {
        float: none;
        width: 100%;
        text-align: center;
        font-size: 10px;
    }
}
.cms-index-index #maincontent .messages {
    position: absolute;
    z-index: 99999;
    left: 191px;
    top: 282px;
    width: 600px;
}
.cms-index-index .message-success.success.message {
    -webkit-box-shadow: 6px 5px 6px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 9px 9px -2px rgba(0,0,0,0.75);
    box-shadow: 6px 5px 6px -2px rgba(0,0,0,0.75);
}
.footer.content {
    margin: 0;
    max-width: 100%;
    width: 100%;
    padding: 0;
    background: #585858;
}
.product-item-details .product-item-actions .action.primary {
    color: #ffffff;
    background: #F498AE;
    border: 1px solid #F498AE;
    color: #ffffff;
    max-width: 280px;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #000;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 0;
    font-size: 18px;
    margin: 0 auto;
    box-sizing: border-box;
    vertical-align: middle;
    display: flex;
    text-decoration: none !important;
    height: 60px;
    align-items: center;
    justify-content: center;
}
.product-item-info:hover .product-item-details .product-item-actions .action.primary{background:#DA7948;border:1px solid #DA7948;}
.footer-menu {
    padding: 0 60px;position:relative;
}

.footer-menu.footer-institucional:after, .footer-menu.footer-categorias:after, .footer-menu.footer-marcas:after{content:"";width:1px;height:120px;background:#6E6E6E;position:absolute;right:0;top:50%;
transform:translateY(-50%);}

.footer-social a{display: block;
float: left;
overflow: hidden;
height: 40px;
margin-right: 10px;}


.block.newsletter .title{
    display: block;
width: 630px;
max-width: 100%;
margin: 160px auto 5px;
}

.footer.content .block.newsletter {
    float: none;
margin: 0;
width: 100%;
max-width: 100%;
height: 385px;
background-color: #fff;
background-image: url(/pub/media/bg_newsletter.png);
background-size: 100%;
background-repeat: no-repeat;display:block;overflow:hidden;position:relative;
}

.footer.content .block.newsletter:after{content: "";
position: absolute;
background: url(https://i.ibb.co/xYjG20r/Repeti-o-de-grade-2-2x.png);
left: 0;
bottom: 0;
background-size: 100%;
background-repeat: no-repeat;
width: 100%;
height: 3px;}

.newsletter .title strong {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-32)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: left;
    font: normal normal normal 32px/32px Raleway;
    letter-spacing: 0px;
    color: #6E6E6E;
    text-transform: uppercase;
    opacity: 1;
}
.newsletter button span {
    color: #fff;
}

.newsletter .actions span{font: normal normal bold 18px/18px Raleway;}

.newsletter span {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-6e6e6e);
    text-align: left;
    font: normal normal bold 24px/28px Raleway;
    letter-spacing: 0px;
    color: #6E6E6E;
    opacity: 1;
}


.block.newsletter .action.subscribe {
    background: var(--unnamed-color-222222) 0% 0% no-repeat padding-box;
    background: #222222 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 16px #00000029;
    border-radius: 46px;
    opacity: 1;
    color: #fff;
    border: none;
    height: 60px;
margin: 0 9px;
width: 188px;
}

.block.newsletter .actions {
    margin: -4px 0;
}

.block.newsletter input {
    box-shadow: 0px 0px 6px #0000000F;
border: 1px solid #6E6E6E;
height: 60px;
border-radius: 6px;
font-size: 18px;
font-family: "Open Sans";
padding: 0 0 0 45px;
}

.block.newsletter .field .control::before{font-size: 19px;
line-height: 60px;margin:0 0 0 15px;}

.block.newsletter .content{width: 630px;
max-width: 100%;
margin: 0 auto 15px;}

span.fullname, span.fullname:hover {
    color: #333333;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
    display: block;
    float: left;
    line-height: 14px;
    font-size: 12px;
    font-family: Raleway;
}
.accountname a.action.showcaccount{background: none !important;
margin: 10px 0 0 !important;height: auto !important;width: 100% !important;text-align: center !important;}
.accountname a.action.showcaccountlogout span.fullname{font-size: 16px !important;color: #DA7948 !important;font-weight: 600 !important;}
.accountname a.action.showcaccountlogout:hover span.fullname{color:#b2b2b2 !important;}

#maincontent .sidebar.sidebar-main .block-collapsible-nav .nav.items li:nth-child(3),
#maincontent .sidebar.sidebar-main .block-collapsible-nav .nav.items li:nth-child(7)
{
    display: none;
}
.block-order-details-view .tracking {
    margin: 20px 0;
    padding: 0;
}
.block-order-details-view .tracking .status{
    margin: 0;
    padding: 0;
    font-size: 13px;
}
.block-order-details-view .tracking ul{
    padding: 0 0 0 15px;

}
.block-order-details-view .tracking .status.active{color: #000;}
.block-order-details-view .tracking .status:not(.active){
    color: #a6a6a6;
}
.block-compare,  .product-social-links a.action.tocompare, .product-shipping-method, .product-shipping-results {
    display: none;
}
.accountname {
    float: left;
    width: 230px;
    height: auto;
    overflow: hidden;
    display: block;
    padding: 15px;
    background: #f8f8f8;
    margin-right: 20px;
    box-shadow: 0px 0px 12px #00000014;
}
.action-advice {
    float: right;
    width: 100%;
    margin: 10px 0;
    clear: both;
    font-size: 10px;
    color: red;
    text-align: right;
}
.bundle-options-wrapper {
    display: none;
}

div#bundleSummary {
    float: left;
    width: 100%;
    margin: 0;
}

.bundle-options-container .block-bundle-summary > .title {
    display: none;
}

.bundle-info {
    width: 35%;
    float: right;
}

.bundle-options-container .block-bundle-summary .bundle-summary {
    width: 47%;
    margin-right: 301px;
}

div#bundle-summary {
    float: left;
}

 .banner-produto{
    display: block;
    float: right;
    clear: both;
    width:100%;
}
 .block.upsell {
    float: left;
    width: 100%;
}
.product.right .block.upsell .content{background: #F8F8F8;
padding: 30px;}

.product.right .block.upsell .title {
    display: block;
    margin-bottom: 30px;
    font-size: 22px;
    color: #6E6E6E;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Raleway;
    padding-bottom: 5px;
    border-bottom: 1px solid #6e6e6e;
}

 .product-info-main {
    width: 30%;
	position:relative;
    float: right;
}
.catalog-product-view main#maincontent{background: url(/pub/media/bg_categoria.png);
background-size: 464px;
background-repeat: no-repeat;
background-position: top 200px left;}

.page-layout-1column .product.media {
    width: 40%;
    float: left;
}

 .products-upsell li.item.product.product-item {
    float: none;
    width: 100%;
}

 .products-upsell .product-item .product-image-container {
    width: 100% !important;
float: left;
display: block;
overflow: hidden;
height: 100%;
}

 .products-upsell .product.details.product-item-details {
    width: calc(100% - 80px);
float: left;
padding: 0;
text-align: left;
padding-left: 10px;
}
 .products-upsell .product.details.product-item-details {
    width: 50%;
    float: right;
    padding: 0;
    /* font-size: 11px; */
}
 .products-upsell .product.details.product-item-details .price-box{
    border: none;
margin-top: 0;
padding: 0 !important;
}
 .products-upsell .product.details.product-item-details .price-box span {
    font-size: 16px !important;
text-align: left;
width: 100%;
display: block;
}
.page-products .product-item-info{margin-bottom:0 !important;}

 .banner-produto img {
    width: 100%;
}

 .product-shipping-method,  .product-shipping-results {
    display: block;
}
 .product-shipping-method {
    display: block;
float: none;
width: 100%;
clear: both;
background: #f8f8f8;
box-shadow: 0px 0px 16px #00000014;
padding: 60px;
overflow: hidden;
height: auto;
border-bottom: 0;position: relative;
top: 40px;
}
 li.product-shipping-result {
    display: block;
    float: left;
    width: 205px;
    margin: 0 37px 0 0;
}

 .product-shipping-results {
    margin: 30px 0 0 0;
    float: left;
}

.search-itens .categoriesbanners,
.search-itens .quebra-linha,
.search-itens .marcasbanners
{
    display: none;
}
.catalog-category-view .category-image{
    display: none;
}
.block-title.filter-title{
    display: block;border-bottom: 1px solid #6E6E6E;
margin-bottom: 30px;
}

.filter-title strong {
    background-color: transparent !important;
    box-shadow: none !important;
    border: 0 !important;
    border-radius: 0 !important;
    font-weight: 700;
    left: 0;
    line-height: 24px !important;
    padding: 0 0 5px !important;
    position: relative !important;
    text-align: left !important;
    top: 0;
    z-index: 2;
    color: #6E6E6E !important;
    font-size: 22px !important;
    text-transform: uppercase;
    font-family: Raleway;
}
.block-content.filter-content{background: #F8F8F8;
padding: 25px;}
.field.newsletter span {
    font-size: 12px;
}
.product-info-main .product.attribute.sku {
    float: none;
    margin: 0;
    padding: 0;
text-align: left;display:none;}
}

.product-info-main .product-info-stock-sku {
    padding: 0;
}

.product-info-main .product-info-price .price-box {
    float: left;
overflow: hidden;
display: block;
width: 100%;
text-align: left;
position: relative;
top: 30px;
}
.product-info-main .product.attribute.overview {
    margin: 0 0 80px;
    position: relative;
    top: 70px;
}

.product-reviews-summary.empty {}
.product.right {
    width: 20%;
    float: left;
}

.page-layout-2columns-right .column.main {
    width: 100% !important;
}

.product-main {
    float: left;
    width: 80%;
	padding-right:40px;
}
.product-info-main .product-add-form {
    padding-top: 0 !important;
}

.upsell .product-item-info .product-image-wrapper img {
    height: 100%;
padding: 0;
margin: 0;
border: 0;
}

.products-upsell .product.details.product-item-details a {
    font-size: 11px !important;
line-height: 15px !important;
text-align: left;
min-height: auto;
}

.upsell span.product-image-wrapper {height: 100%;
display: block;
overflow: hidden;}