<div class="blocks-promo">
    <a class="block-promo home-main" href="{{store url=""}}collections/yoga-new.html">
        <img src="{{media url="Grupo_1356.png"}}" alt="">
    </a>
</div>
<div class="blocks-promo-bottom">
    <p><img src="{{media url="bottom-banner.png"}}" alt=""></p>
</div>
<div class="banners-marcas">
    <div class="banner-marca">

    </div>
    <div class="banner-marca">
        
    </div>
    <div class="banner-marca">
        
    </div>
    <div class="banner-marca">
        
    </div>
</div>
<div class="content-heading">
    <p class="info">Itens mais populares</p>
    <h2 class="title">Produtos mais procurados</h2>
</div>
<p>{{widget type="Magento\CatalogWidget\Block\Product\ProductsList" products_per_page="8" products_count="8" template="product/widget/content/grid.phtml" conditions_encoded="^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^],`1--1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`sku`,`operator`:`()`,`value`:`WS12, WT09, MT07, MH07, 24-MB02, 24-WB04, 241-MB08, 240-LV05`^]^]"}}</p>