.categorias-banner input {position: absolute;opacity: 0;margin-top: 570px;cursor: pointer;}

.categorias-banner label {display: inline-block;width: 15px;height: 15px;border: solid 2px #b2b2b2;border-radius: 999px;
  background-color: transparent;margin: 570px 2px 0 2px;z-index: 2;cursor: pointer;transition-duration: .4s;}

.categorias-banner input:checked + label{
  background-color: #ccc;
}

.categorias-banner input:focus + label{
  box-shadow: 0 0 0 2px teal, 0 0 18px #b2b2b2;
}

.categorias-banner .slides {position: absolute;background-position: center;background-size: cover;background-repeat: no-repeat;width: 100%;height: 100%;
  top: 0;left: 0;z-index: -1;transform: translateX(-100%);transition-duration: .4s;opacity: 1;
}

.categorias-banner input:checked ~ .slides {
  transform: translateX(100%);
}

.categorias-banner input:checked + label + .slides {
  transform: translateX(0);
  opacity: 1;
}

.marcas.mobile{margin-bottom:20px;}

#mini-cart li.item.product.product-item {width: 100% !important;padding-bottom: 10px !important;border-bottom: 1px solid #6E6E6E !important;margin-bottom: 10px !important;}
.minicart-items .product > .product-item-photo, .minicart-items .product > .product-image-container {float: left;width: 100px !important;height: 100px !important;}
.product-item .product-image-container {width: 100% !important;height: 100% !important;}
.minicart-items .product-image-wrapper, .block-giftregistry-shared-items .product-image-wrapper {padding: 0 !important;height: 100% !important;}
.minicart-items .product-image-wrapper .product-image-photo, .block-giftregistry-shared-items .product-image-wrapper .product-image-photo {position: relative;width: 100% !important;height: 100% !important;object-fit: cover !important;}
.minicart-items .product-item-details {width: calc(100% - 100px) !important;float: left !important;padding: 0 0 0 30px !important;}
.minicart-items .product-item-name a {color: #6E6E6E !important;font-size: 16px !important;font-weight: 700 !important;line-height:20px !important;}
.minicart-items .product-item-details .price {font-weight: 700 !important;font-family: "Open Sans";font-size: 25px !important;}
.minicart-items .item-qty {text-align: center;width: 70px !important;height: 50px !important;border-radius: 5px !important;padding: 15px 10px 0 !important;font-family: "Open Sans" !important;font-weight: 700 !important;position:relative !important;}
.minicart-items .product-item-details .details-qty{display:none;}
.mini-cart-items .product{display:flex;align-items:center;}
.subtotal span{font-family: Raleway !important;color: #6e6e6e !important;font-weight: 700 !important;}
.block-minicart .block-content > .actions > .primary .action.primary {background: #F498AE !important;border: 0 !important;border-radius: 40px;}
.block-minicart .block-content > .actions .secondary a{font-family: Raleway;font-size: 16px;background: #F498AE !important;border: 0 !important;color: #fff;border-radius: 35px;padding: 10px 25px;margin-top: 5px !important;display: block;}
.catalog-product-view .column.main .products-grid.products-related .product-item .product-item-info .product-item-details .field.choice.related{display:none !important;}
.related .products-grid .product-item-actions {margin: 10px 0 0 !important;}
.related .product-item .price-box{margin:0 auto !important;}
.related .products-grid.grid .product-items {width: 100% !important;display: block !important;}
.product-info-main .product-info-stock-sku{padding-left:0 !important;}


#maincontent .page-title-wrapper {padding: 39px;margin: 0 0 35px;font-size: 20px;
max-width: 100%;background: url(/pub/media/bg_title.png);background-size: cover;background-position: center;background-repeat: no-repeat;width: 100% !important;text-align: center !important;}
.checkout-index-index .header.content {
    padding: 30px 0 0;
    width: 1222px;
    max-width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    position: relative;}
.checkout-index-index .header.content a.logo {
    width: 96px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.checkout-index-index .opc-progress-bar-item {width: 50%;}
.checkout-index-index .opc-wrapper .step-title {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-family: Raleway;
    font-weight: 700;
    color: #6e6e6e;
    text-transform: uppercase;
}
.checkout-index-index .opc-wrapper .shipping-address-item {
    width: 100%;
    font-family: Raleway;
    font-weight: 600;
    line-height: 23px;
    font-size: 15px;
}
.checkout-index-index .table-checkout-shipping-method tbody td {
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 15px;
    color: #333;
}
.checkout-index-index .opc-block-summary > .title {
    display: block;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    color: #6e6e6e;
}
.checkout-index-index .opc-block-summary .items-in-cart > .title strong {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    color: #6e6e6e;
    font-family: Raleway;
}
.checkout-index-index .opc-block-summary{border-radius:8px;}

.page-product-bundle .bundle-actions {
    margin: 0 0 30px;
    position: relative;
    top: 70px;
}





@media (max-width:992px){
.minicart-wrapper .block-minicart {width: 350px !important;}
.product.attribute.description img{height:auto !important;}
.minicart-wrapper .action.showcart .counter.qty{right:10px !important;}
.minicart-items .product-item-name a {color: #6E6E6E !important;font-size: 15px !important;font-weight: 700 !important;line-height:18px !important;}
.minicart-items .product-item-name{text-align:left !important;}
.minicart-wrapper {text-align: left !important;}
.minicart-items .product-item-details .price{font-size:22px !important;}
.page-product-bundle.bundle-actions {
    margin: 0 0 30px;
    position: relative;
    top: 80px;
}
.marcasbanners {
padding-top: 30px !important;}


}









































