<div class="quem-somos">
    <div class="qs-image">
        <img src="{{view url="images/quemsomos.png"}}" alt="test" />
    </div>
    <div class="content-heading home-popular">
        <h2 class="title left">Quem somos</h2>
    </div>
    <div class="qs-wrapper">
        <div class="qs-left">
            <p>
                Vamos além da entrega pela beleza, nosso compromisso é ressaltar a sua autenticidade própria com produtos de qualidade, cheios de inovação e com um toque divertido.
            </p>
            <p>
                Acreditamos na positividade, leveza e bem-estar que os produtos de autocuidado podem e devem proporcionar a você. Justamente porque, quando se trata da aparência, nossos consumidores querem ir além da beleza, querem realçar sua autoconfiança, valorizar suas principais qualidades sem esconder a sua mais pura essência.
            </p>
            <p>
                Nosso propósito é ser diferente, impactante e muito legal!
            </p>
        </div>
        <div class="qs-right">
            Suspendisse ut risus sit amet velit fringilla blandit ut ac nisi. Ut eget corper fd magna, in auctor nisi. Nunc ac augue ac purus varius rr suscipit sed ac elit. Duisarty dse the et nulla.
        </div>
    </div>
    <div class="content-heading qs-popular">
        <p class="info">Institucional</p>
        <h2 class="title">Nossas Marcas</h2>
    </div>
    <div class="qs-wrapper marcas">
        <div class="qs-logo">
            <strong class="title">Ateliê Fontenello</strong>
            
        </div>
        <div class="qs-content">
            <span>
                <p>A marca premium do Grupo PQL.</p> 
         <p>   O Ateliê Fontenello nasceu para tirar seus dias da monotonia, da rotina e do convencional, sensações essas que apenas um bom perfume consegue trazer.</p>
 <p>Criado e pensado cuidadosamente para democratizar as sensações e levar mais personalidade aos seus dias. </p> 
 <p>Com perfumes inspirados em fragrâncias famosas, despertamos emoções, laços e identificação, transcendendo e potencializando sua personalidade através dos nossos perfumes.</p>
             </span>
        </div>
        <div class="qs-logo">
            <strong>Putz! Que Legal!</strong>
        </div>
        <div class="qs-content">
            <p>A marca jovem, antenada e superlegal do Grupo PQL.</p>
            <p>Viemos para ser uma solução diferente: vegan e cruelty free, que traz leveza, descontração e um novo tipo de experiência sensorial para seus momentos de cuidados pessoais e beleza.</p>
<p>Acreditamos que todos funcionamos melhor quando estamos felizes e confiantes, por isso, desenvolvemos uma linha de cuidado com os cabelos que reúne tudo o que seus fios mais precisam, sem deixar de lado a alegria e o bom-humor.</p>
        </div>
        <div class="qs-logo">

        </div>
        <div class="qs-content">

        </div>
        <div class="qs-logo">

        </div>
        <div class="qs-content">

        </div>
    </div>
</div>