<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
?>
<div class="container">
<div class="content-heading home-popular hmobile">
        <p class="info">Os mais procurados</p>
        <h2 class="title">Procurar por categoria</h2>
        </div>
<div class="categoriesbanners mobile">
<div class="categorias-banner">                  
					
               <scroll-page id="page-3"><div class="categoriabanner" style="background-image: url('/pub/media/catalog/category/atelie.png')">
                    <div class="categoriabannerwrapper">
                        <span>categoria</span>
                        <span class="categoriabannertitle">
                            Ateliê Fontenello                        </span>
                        <a href="<?php echo $baseUrl.'/atelie-fontenello.html'; ?>">Explorar Produtos</a>
                    </div>
                </div>  </scroll-page>            

               <scroll-page id="page-4"><div class="categoriabanner" style="background-image: url('/pub/media/catalog/category/putz.png')">
                    <div class="categoriabannerwrapper">
                        <span>categoria</span>
                        <span class="categoriabannertitle">
                            Putz! Que Legal                        </span>
                        <a href="<?php echo $baseUrl.'/putz-que-legal.html'; ?>">Explorar Produtos</a>
                    </div>
                </div></scroll-page>
      
            </div></div>
<nav class="bullets mobile">
  <a href="#page-3">•</a>
  <a href="#page-4">•</a>
</nav>
</div>

<div class="categoriesbanners desktop">
    <div class="content-heading home-popular">
        <p class="info">Os mais procurados</p>
        <h2 class="title">Procurar por categoria</h2>
        </div>
        <?php
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $category_model = $objectManager->get('Magento\Catalog\Model\Category');
            $category_id = 2;//default category
            $category = $category_model->load($category_id);
            $subcategories = $category->getChildrenCategories();
            $subcat_array = array();
            $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
            $connection = $resource->getConnection();
        ?>

    <ul>
        <?php foreach($subcategories as $key => $subcategory): 
            $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $load_cat = $_objectManager->create('Magento\Catalog\Model\Category')->load($subcategory->getId());
            ?>
            <li>
                <div class="categoriabanner" style="background-image: url('<?php echo $load_cat->getImageUrl(); ?>')">
                    <div class="categoriabannerwrapper">
                        <span>categoria</span>
                        <span class="categoriabannertitle">
                            <?php echo $subcategory->getName(); ?>
                        </span>
                        <a href="<?php echo $subcategory->getUrl(); ?>">Explorar Produtos</a>
                    </div>
                </div>
            </li>
        <?php endforeach; ?>
    </ul>
</div> 
<div class="marcasbanners">
<div class="quebra-linha quebra2"><img src="<?php echo $block->getUrl("pub/media/")?>separador_CZ.png" alt=""></div>
    <div class="listmarcas">
	<div class="box box1"><h2><span>NOSSAS</span>MARCAS</h2></div>
	<div class="line-m"></div>
	<div class="box box2"><img src="https://i.ibb.co/hsW6XDc/ateliefontenello.png" alt="Ateliê Fontenello" border="0"></div>
	<div class="line-m"></div>
	<div class="box box3"><img src="https://i.ibb.co/41TLYFH/putzlegal.png" alt="Putz que legal" border="0"></div>
	</div>
</div>