<div class="oferta_form">
    <div class="christian">
                    <label>Faça sua doação através do Christian Bank</label>
                    <img src="../christianlogo-min.jpg" alt="">
                </div>
        <span>Teste</span>
        <form name="oferta" action="http://131.196.175.62/pinbank/pinbank.php" onsubmit="return validateForm()" method="post" required>
            <div id="inputdonation">
                <div class="input">
                    <label>R$</label>
                    <input class="taginput valor" type="text" name="Valor" id="Valor" />
                </div>
                <button onclick="prosseguir()" class="prosseguir" type="button">Prosseguir</button>
                <span>Juntos podemos mais!</span>
            </div>
            <div id="inputprosseguir">
                <div class="input">
                    <label>Nome Completo</label>
                    <input class="taginput" type="text" name="NomeImpresso" id="NomeImpresso" />
                </div>
                <div class="input">
                    <label>Numero do Cartão</label>
                    <input class="taginput" type="text" name="NumeroCartao" id="NumeroCartao" />
                </div>
                <div class="input">
                    <label>Data de validade</label>
                    <div class="fields">
                        <div class="field">
                            <label>Mes</label>
                            <select name="mes" id="mes" class="taginput">
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Ano</label>
                            <input class="taginput" type="text" name="ano" id="ano" />
                        </div>
                    </div>
                </div>
            
                <div class="input">
                    <label>Código de Segurança</label>
                    <input class="taginput" type="text" name="CodigoSeguranca" id="CodigoSeguranca" />
                </div>
    
                <div class="input">
                    <label>Forma de Pagamento</label>
                    <select class="taginput" name="FormaPagamento" id="FormaPagamento" onchange="checkParcelas(this)">
                        <option value="1">A Vista</option>
                        <option value="2">Parcelado</option>
                    </select>
                </div>
    
                <div id="parcela" class="input parcela"> 
                    <label>Número de Parcelas (Para pagamento a vista pode deixar em branco)</label>
                    <select name="QuantidadeParcelas" id="QuantidadeParcelas" class="taginput">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <!--<input class="taginput" type="text" name="QuantidadeParcelas" id="QuantidadeParcelas" />-->
                </div>
    
                <div class="input">
                    <label>CPF</label>
                    <input class="taginput" type="text" name="CpfComprador" id="CpfComprador" />
                </div>
            
                <button type="submit">Enviar</button>
            </div>
        </form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>

        <script type="text/javascript">
            let inputNames = [
                'NomeImpresso',
                'NumeroCartao',
                'mes',
                'ano',
                'CodigoSeguranca',
                'Valor',
                'FormaPagamento',
                'CpfComprador'
            ]
            let letSubmit = true
            jQuery(document).ready(function(){jQuery('.taginput.valor').mask("#,##0.00", {reverse: true})})
            function prosseguir(){
                if(document.forms["oferta"]["Valor"].value){
                    document.getElementById("inputprosseguir").style.display = "block";
                }
            }

            function checkParcelas(element){
                console.log(element.value)
                if(element.value == '2'){
                    document.getElementById("parcela").style.display = "block";
                } else if(element.value == '1'){
                    document.getElementById("parcela").style.display = "none";
                }
            }
    
            function validateForm() {
                inputNames.forEach(function(inputName){
                    let valorToCheck = document.forms["oferta"][inputName].value;
                    if(inputName == 'ano'){
                        if(valorToCheck < 100 && valorToCheck > 9){
                            valorToCheck = valorToCheck + 2000
                        }
                        if((valorToCheck > 100 && valorToCheck < 2020) || valorToCheck < 9){
                            alert("Insira um ano valido, Ex: 2022 ou 22");
                            letSubmit = false
                        }
                    }
                    if (valorToCheck == "") {
                        alert("Por favor preencha todos os campos");
                        letSubmit = false
                    }
                });
                if(letSubmit == false){
                    letSubmit = true;
                    return false;
                }
            }
        </script>
        <style type="text/css">
            .page_content_wrap{
                padding: 0;
            }
            section.slider_wrap, header{
                display: none;
            } 
            .oferta_form .christian {
                text-align: center;
                padding: 20px 0 0;
            }
            .oferta_form button.prosseguir, .oferta_form #inputdonation div {
                margin: 16px auto;
                display: block;
            }
            .oferta_form strong, .oferta_form span{
                display: block;
                float: none;
                text-align: center;
                font-size: 16px;
            }
            .oferta_form #inputdonation{
                color: #000 !important;
                font-size: 20px;
            }
            
            .oferta_form #parcela{
                display: none;
            }
            .oferta_form #inputdonation input.valor{
                background-color: transparent !important;
                border-bottom: 1px solid black !important;
                border-top: 0 !important;
                border-left: 0 !important;
                border-right: 0 !important;
            }
            .oferta_form #inputdonation input{
                background-color: transparent !important;
                color: #000 !important;
                text-align: center;
                width: 162px;
                margin: 0 auto;
                display: block;
             
            }
            .oferta_form #inputprosseguir{
                display: none;
            }
            .oferta_form .input{
                margin: 20px 0;
            }
            .oferta_form .fields{
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
            }
            .oferta_form .fields .field{
                float: left;
                margin: 0 10px 0 0;
            }
            .oferta_form .fields input{
                display: block;
                width: 100%;
                float: left;
            }
            .oferta_form label{
                display: block;
                float: none;
                margin: 0 auto;
                text-align: center;
                font-size: 14px;
            }
            .oferta_form{
                width: 200px;
                margin: 0 auto;
            }
            .oferta_form .taginput {
                background-color: #fff !important;
                border: 1px solid grey !important;
                margin: 0 auto !important;
                display: block;
                color: #000 !important;
            }
            .oferta_form{
                width: 200px;
                margin: 0 auto;
            }    
.oferta_form button {
    margin: 0 auto 11px;
    display: block;
}
    </style>
</div>