<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Catalog\Block\Product\View\Details $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
?>
<div class="product-shipping-method">
    <form id="product-shipping-method" method="post">
        <div class="product-postcode">
            <label for="">Pesquisar CEP</label>
            <input type="text" name="postcode" class="input-cep" value="" />
            <input type="hidden" name="country" value="pt_BR">
            <input type="hidden" name="qty" value="1">
            <input type="hidden" name="product" value="<?php echo $product->getId()?>">
            <input type="hidden" name="url" value="<?php echo $block->getUrl()?>">
            <button type="button" id="product-shipping-method-button">Consultar</button>
        </div>
        <div class="product-shipping-link">
            <a href="">Não sabe seu cep</a>
        </div>
    </form>
    <div class="product-shipping-results">
        <?php 
           /* $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
            $catalogSession = $objectManager->get('\Magento\Catalog\Model\Session');
            $shippingresult = $catalogSession->getShippingresult();
            if( $shippingresult):
        ?>
            <?php foreach ($shippingresult as $code => $rates): ?>
                <?php foreach ($rates as $_rate): ?>
                    <?php if ($_rate->getErrorMessage()): ?>
                        <li class="product-shipping-result"><?php echo $_rate->getErrorMessage(); ?></li>
                    <?php else: ?>
                        <li class="product-shipping-result">
                            <input type="radio" name="shipping1"/>
                            <strong><?php echo $_rate->getMethodTitle(); ?></strong>
                            <span><?php echo $pricingHelper->currency ($_rate->getPrice()); ?></span>
                        </li>
                    <?php endif; ?>
                <?php endforeach; ?>
            <?php endforeach; ?>        
        <?php endif; */?>
        <ul class="product-shipping-rates">
        </ul>
    </div>
</div>

<?php if ($detailedInfoGroup = $block->getGroupSortedChildNames('detailed_info', 'getChildHtml')) :?>
    <div class="product info detailed">
        <?php $layout = $block->getLayout(); ?>
        <div class="product data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
            <?php foreach ($detailedInfoGroup as $name) :?>
                <?php
                $html = $layout->renderElement($name);
                if (!trim($html)) {
                    continue;
                }
                $alias = $layout->getElementAlias($name);
                $label = $block->getChildData($alias, 'title');
                ?>
                <div class="data item title"
                     data-role="collapsible" id="tab-label-<?= $block->escapeHtmlAttr($alias) ?>">
                    <a class="data switch"
                       tabindex="-1"
                       data-toggle="trigger"
                       href="#<?= $block->escapeUrl($alias) ?>"
                       id="tab-label-<?= $block->escapeHtmlAttr($alias) ?>-title">
                        <?= /* @noEscape */ $label ?>
                    </a>
                </div>
                <div class="data item content"
                     aria-labelledby="tab-label-<?= $block->escapeHtmlAttr($alias) ?>-title" id="<?= $block->escapeHtmlAttr($alias) ?>" data-role="content">
                    <?= /* @noEscape */ $html ?>
                </div>
            <?php endforeach;?>
        </div>
    </div>
<?php endif; ?>
<script type="text/javascript">
//<![CDATA[
    require([
    'jquery',
    'Magento_Ui/js/modal/alert'
], function ($, alert) {
    $('#product-shipping-method-button').on('click', function (event) {
        console.log('sendForm')
        let customurl = '<?php echo $block->getUrl('intelipost_quote/product/shipping') ?>'
        var form = $( "#product-shipping-method" );
        $.ajax({
            type: 'POST',
            async: false,
            url: customurl,
            data: form.serialize(),
            success: function (responses) {
                let rates = responses['intelipost']
                $(".product-shipping-rates").empty()
                rates.forEach(function(rate){
                    $(".product-shipping-rates").append('<li class="product-shipping-result"><strong>'+rate.method_title+'</strong><span> R$ '+rate.method_price+'</span></li>');
                });
            },
            error: function (xhr, status, errorThrown) {
                console.log('Error happens. Try again.');
                console.log(status);
                console.log(errorThrown);
            }
        });
    })
}
);
//]]>
</script>
<script type='text/javascript'>
    require([
        "jquery", "mask"
    ], function($) {
        $(document).ready(function(){
            $.browser = {};
            (function () {
                $.browser.msie = false;
                $.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                $.browser.msie = true;
                $.browser.version = RegExp.$1;
            }
            })();
            $('.input-cep').mask('99999-999');
        });
    });
</script>