<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fputzquelegal.com.br%2Fperfume-dolce-belle-100ml.html&amp;src=sdkpreparse
 */
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
?>
<?php $_product = $block->getProduct() ?>
<?php if ($block->canEmailToFriend()) :?>
    <a href="<?= $block->escapeUrl($this->helper(Magento\Catalog\Helper\Product::class)->getEmailToFriendUrl($_product)) ?>"
       class="action mailto friend"><span><?= $block->escapeHtml(__('Email')) ?></span></a>
<?php endif; ?>
<div class="product-social">
    
    <span class="product-social-item">Compartilhar com</span>
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]) ?>&amp;src=sdkpreparse">
        <img class="product-social-item" src="<?php echo $block->getViewFileUrl('images/icon-facebook.png'); ?>" alt="">
    </a>
    <a  target="_blank" href="https://www.instagram.com/putzquelegalbrasil/">
        <img class="product-social-item" src="<?php echo $block->getViewFileUrl('images/icon-instagram.png'); ?>" alt="">
    </a>
    <!--<img class="product-social-item" src="<?php echo $block->getViewFileUrl('images/icon-linkedin.png'); ?>" alt="">
    <img class="product-social-item" src="<?php echo $block->getViewFileUrl('images/icon-whatsapp.png'); ?>" alt="">-->
</div>