<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/* @var $block \Magento\Catalog\Block\Product\View\Options */
?>
<div class="smartcatalopoptions fieldset">
<?php $_options = $block->decorateArray($block->getOptions()) ?>
<?php $_productId = $block->getProduct()->getId() ?>
<?php if (count($_options)) :?>
    <?php foreach ($_options as $_option) :?>
    <?php 
        $flatField  = '';
        if($_option->getTitle() == 'Largura' || $_option->getTitle() == 'Altura'){
            $flatField = 'fieldOptionFloat';
        }
    ?>
    <div class="fieldOption fieldset <?php echo $flatField; ?>">
        <?= $block->getOptionHtml($_option) ?>
    </div>
    <?php endforeach; ?>
            <input type="hidden" id="smartcatalogoption_finalprice" 
                    class="input-text product-custom-option"  
                    name="smartcatalogoption_finalprice"  
                    value="" aria-required="true">
<?php endif; ?>
<?php if($block->getProduct()->getInstalacao()): ?>
    <div class="instalacao">
        <span>Para clientes de São Paulo adquira também a instalação </span>
        <a href="<?php echo $block->getUrl('instalacao-sp.html') ?>">aqui</a>
    </div>
<?php endif; ?>
</div>

<style type="text/css">
    .fieldOption.fieldOptionFloat{
        float: left;
    }
    .smartcatalopoptions.fieldset{
        clear: both;
        width: 100%;
        float: none;
        height: auto;
    }
    .smartcatalopoptions .instalacao {
        float: none;
        clear: both;
    }
</style>
