<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Contact Form"}} @-->
<!--@vars {
"var data.comment":"Comment",
"var data.email":"Sender Email",
"var data.name":"Sender Name",
"var data.telephone":"Sender Telephone"
} @-->

{{template config_path="design/email/header_template"}}

<table class="message-details">
    <tr>
        <td><strong>{{trans "Name"}}</strong></td>
        <td>{{var data.name}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Email"}}</strong></td>
        <td>{{var data.email}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Phone"}}</strong></td>
        <td>{{var data.telephone}}</td>
    </tr>

    <tr>
        <td><strong>Dados de revendedor</strong></td>
    </tr>

    <tr>
        <td><strong>{{trans "Name"}}</strong></td>
        <td>{{var data.name}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Sobrenome"}}</strong></td>
        <td>{{var data.surname}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Gênero"}}</strong></td>
        <td>{{var data.genero}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "CPF"}}</strong></td>
        <td>{{var data.cpf}}</td>
    </tr>

    <tr>
        <td><strong>{{trans "Data de Nascimento"}}</strong></td>
        <td>{{var data.birth}}</td>
    </tr>

    <tr>
        <td><strong>{{trans "Telefone"}}</strong></td>
        <td>{{var data.telephone}}</td>
    </tr>

    <tr>
        <td><strong>{{trans "CEP"}}</strong></td>
        <td>{{var data.postcode}}</td>
    </tr>

    <tr>
        <td><strong>{{trans "Rua"}}</strong></td>
        <td>{{var data.street}}</td>
    </tr>

    <tr>
        <td><strong>{{trans "Complemento"}}</strong></td>
        <td>{{var data.complemento}}</td>
    </tr>

    <tr>
        <td><strong>{{trans "Bairro"}}</strong></td>
        <td>{{var data.bairro}}</td>
    </tr>

    <tr>
        <td><strong>{{trans "Cidade"}}</strong></td>
        <td>{{var data.cidade}}</td>
    </tr>
</table>
<p><strong>{{trans "Message"}}</strong></p>
<p>{{var data.comment}}</p>

{{template config_path="design/email/footer_template"}}
