<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="footer-menus">
    <div id="menu1" class="footer-menu footer-institucional">
        <div class="footer-title">
            <span>Institucional</span>
        </div>
        <div class="footer-itens">
            <ul>
                <li>
                <a href="<?php echo $block->getUrl('quem-somos') ?>">Quem somos</a>    
                </li>
                <!--<li>Nosso blog</li>-->
                <!--<li><a href="<?php echo $block->getUrl('contact/index/index/page/revenda') ?>">Seja Revendedor(a)</a></li>-->
                <li><a href="<?php echo $block->getUrl('politica-de-privacidade') ?>">Política de Privacidade</a></li>
                <li><a href="<?php echo $block->getUrl('politica-de-devolucao') ?>">Política de Devolução</a></li>
                <li><a href="<?php echo $block->getUrl('contact') ?>">Fale Conosco</a></li>
            </ul>
        </div>
    </div>
    <div id="menu2" class="footer-menu footer-categorias">
        <div class="footer-title">
            <span>Categorias</span>
        </div>
        <div class="footer-itens">
            <?php 
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $category_model = $objectManager->get('Magento\Catalog\Model\Category');
            $category_id = 2;//default category
            $category = $category_model->load($category_id);
            $subcategories = $category->getChildrenCategories();
            $subcat_array = array();
            ?>
            <ul>
            <?php
                foreach($subcategories as $key => $subcategory) {
            ?>
                <li>
                    <a href="<?php echo $subcategory->getUrl(); ?>"><?php echo $subcategory->getName() ?></a>
                </li>
            <?php
                }   
            ?>
            </ul>
        </div>
    </div>
    <div id="menu3" class="footer-menu footer-marcas">
        <div class="footer-title">
            <span>Marcas</span>
        </div>
        <div class="footer-itens">
            <ul>
                <li>Ateliê Fontenello</li>
                <!--<li>Glam Brasil</li>-->
                <li>Putz Que Legal</li>
                <!--<li>Mais Fios</li>-->
            </ul>
        </div>
    </div>

    <div id="menu4" class="footer-menu footer-atendimento">
        <div class="footer-title">
            <span>Atendimento</span>
        </div>
        <div class="footer-itens">
            <div class="footer-contact">
                <span>11 4227-4259</span>
                <span>sac@putzquelegal.com.br</span>
            </div>
            <div class="footer-social">
                <a target="_blank" href="https://www.facebook.com/pqlbrasil">
                    <img src="<?php echo $this->getViewFileUrl('images/footer-facebook.png'); ?>" alt="">
                </a>
                <a target="_blank" href="https://www.instagram.com/pqlbrasil">
                    <img src="<?php echo $this->getViewFileUrl('images/footer-instagram.png'); ?>" alt="">
                </a>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=551142274259&text=Seja%20bem%20vindo!%20Em%20que%20podemos%20ajudar">
                    <img src="<?php echo $this->getViewFileUrl('images/whatsapp.png'); ?>" alt="">
                </a>
                <!--<img src="<?php echo $this->getViewFileUrl('images/footer-linkedin.png'); ?>" alt="">-->
            </div>
            <div class="footer-safety">
            <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.">
                <tr>
                <td width="135" align="center" valign="top"><script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=www.pqlbrasil.com.br&amp;size=M&amp;lang=en"></script><br />
                <a href="/ssl/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a></td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</div>