.payment-method-content .actions-toolbar{
    display: none;
}

.form-discount{position: relative;}
.form-discount .payment-option-inner{width: 45%;float: left;}
.form-discount .actions-toolbar{float: left;}
.form-discount .actions-toolbar button.surty{background-color: #fff!important;border: 1px solid #000;padding: 0 25px !important;margin-left: 15px;}
.payment-option.discount-code #block-discount-heading span{font-weight: 300;font-size: 17px;letter-spacing: 0.7px;text-transform: uppercase;}
.payment-option.discount-code{margin-bottom: 15px;padding-bottom: 30px;float: left;border-bottom: 1px solid #ccc;}
.payment-option.discount-code .payment-option-title{margin-bottom: 10px;}
.opc-block-summary .items-in-cart > .title{border-bottom:none;}
.opc-block-summary .items-in-cart{border-bottom: 1px solid #cccccc;margin-bottom: 26px!important;}
.opc-block-summary{display: grid;}

.opc-block-summary .payment-option-title{position: relative;cursor:pointer;}
.opc-block-summary .payment-option-title > span:after{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 26px;
    line-height: 12px;
    color: inherit;
    content: '\f807';
    font-family: 'porto-icons';
    margin: 3px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    position: absolute;right: 0;top: 9px;
}
.opc-block-summary .payment-option._active .payment-option-title > span:after{content: '\f804';}

.form-discount .field-tooltip{right: 23px;top: 3px;}
.field-tooltip .field-tooltip-action:before{color:#000;}