<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <form class="form" id="pay" action="#" name="pay" method="post" >
            <!-- ko template: 'Tagweb_Pinbank/payment/pinbank-form' --><!-- /ko -->
        </form>
        <div class="field required">
            <label data-bind="attr: {for: getCode() + '_transaction_result'}" class="label">
                <span><!-- ko i18n: 'Transaction Result'--><!-- /ko --></span>
            </label>

            <div class="control">
                <select name="payment[transaction_result]"
                        class="select"
                        data-bind="
                                  options: getTransactionResults(),
                                  optionsValue: 'value',
                                  optionsText: 'transaction_result',
                                  optionsCaption: $t('Transaction Result'),
                                  value: transactionResult">
                </select>
            </div>
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
